{{ define "main" }}
{{ $underline := resources.Get "/illustrations/underline.svg" }}
{{ $heroAbout := resources.Get "/illustrations/hero-about-1.svg" }}
{{ $circles := resources.Get "/illustrations/circles.svg" }}
{{ $arrow := resources.Get "/illustrations/arrow.svg" }}
{{ $dashline := resources.Get "/illustrations/dash-line.svg" }}
{{ $line6 := resources.Get "/illustrations/line-6.svg" }}
{{ $line7 := resources.Get "/illustrations/line-7.svg" }}
{{ $eclipse := resources.Get "/illustrations/eclipse.svg" }}
{{ $adoptOpenJDK := resources.Get "/illustrations/adoptOpenJDK.svg" }}
{{ $adoptium := resources.Get "/illustrations/adoptium.svg" }}
{{ $adopt := resources.Get "/illustrations/adoptJDK.svg" }}
{{ $jakarta := resources.Get "/illustrations/jakarta.svg" }}
{{ $ospo := resources.Get "/illustrations/ospo.svg" }}
{{ $java := resources.Get "/illustrations/java.svg" }}
{{ $wiki := resources.Get "/illustrations/wiki.svg" }}
{{ $opensource := resources.Get "/illustrations/opensource.svg" }}
{{ $javaland := resources.Get "/illustrations/javaland.svg" }}
{{ $itclub := resources.Get "/illustrations/itclub.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $swirlds := resources.Get "/illustrations/swirlds.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $hedera := resources.Get "/illustrations/hedera.svg" }}
{{ $heise := resources.Get "/illustrations/heise.svg" }}
{{ $arrow22 := resources.Get "/illustrations/arrow22.svg" }}
{{ $dashlineM := resources.Get "/illustrations/dashline-m.svg" }}
{{ $lineM := resources.Get "/illustrations/lineM.svg" }}
{{ $lineM2 := resources.Get "/illustrations/lineM2.svg" }}
{{ $click := resources.Get "/illustrations/click.svg" }}
{{ $star := resources.Get "/illustrations/star.svg" }}
{{ $star := resources.Get "/illustrations/star.svg" }}
{{ $tube := resources.Get "/illustrations/tube.svg" }}
{{ $circleDashed := resources.Get "/illustrations/circle-dashed.svg" }}
{{ $ellipse := resources.Get "/illustrations/ellipse.svg" }}

<div class="relative flex flex-col justify-center items-center lg:flex-row lg:justify-start lg:items-start  container">
    <div class="absolute hidden lg:block top-[58rem]">
        <img  class="ml-[80%]" src="{{ $star.RelPermalink }}" />
        <img  class="h-[40px] mt-[50rem] ml-[10%]" src="{{ $line7.RelPermalink }}" />
        <img class="mt-[50rem] ml-[-5%]" src="{{ $circleDashed.RelPermalink }}" />
        <img class="" src="{{ $tube.RelPermalink }}" />
        <img class="mt-[50rem] ml-[50%]" src="{{ $lineM.RelPermalink  }}" />
        <img class="mt-[50rem]" src="{{ $ellipse.RelPermalink }}" />
    </div>
    <div class="w-full max-w-[336px]">
        <div class="pt-20 pb-4">
            <div class="relative flex flex-col justify-center items-center lg:items-start w-full">
              <h1 class="text-center h1">{{.Params.title}}</h1>
              <img src="{{ $underline.RelPermalink }}" alt="{{ i18n "altTexts.underline" }}" class="w-48 -bottom-3 sm:w-72 sm:-mr-24 shrink-0">
            </div>
        </div>
        <div class=" mt-16 shadow-5 rounded-[30px] py-12 px-8">
            {{ range .Params.sections }}
                <div class="about-section-container mb-4 text-left flex items-center gap-2 cursor-pointer">
                    <span class="about-radio w-4 h-4 border-[2px] border-purple rounded-full"></span>
                    <h2 class="about-section text-[16px] font-medium">{{ . }}</h2>
                </div>
            {{ end }}
        </div>
    </div>

    <div class="pt-20 mt-20 lg:pl-16 max-w-[845px]">
        <div>
            <h2 class="h2">{{.Params.section_founder_title_prefix}}&nbsp;
                <span class="text-green">Founder</span></h2>
            <div class="flex flex-col mt-8 gap-7 text-blue">
                <p class="text-base leading-7">{{ $.Param "section_intro" | markdownify }}</p>
            </div>
        </div>

        <div class="pt-20 max-w-[846px]">
            <div class="flex justify-between items-center">
                <h2 class="h2">Our&nbsp;
                    <span class="text-sky">Team</span></h2>
                <span class="hidden lg:block text-lg font-bold text-purple cursor-pointer hover:underline">View More</span>
            </div>
            <div class="flex flex-col flex-wrap justify-center items-center gap-8">
                {{ $data := index .Site.Data .Site.Language.Lang }}
                {{ range $data.team }}
                    {{ partial "partials/our-team.html" (dict "fullName" .fullName "picture"  .picture "roles" .roles)}}
                {{ end }}
                <div class="mt-10 lg:hidden">
                    <a class="bg-purple-700 text-gray rounded-[28px] text-[16px] font-bold py-3 px-[74px]">View More</a>
                </div>
            </div>
        </div>

        <div class="pt-24">
            <div class="relative">
                <div class="">
                    <h2 class="h2">Our <span class="text-purple">Engagements</span></h2>
                </div>
                <div class="flex flex-wrap justify-center w-full pt-12">
                    {{ $data := index .Site.Data .Site.Language.Lang }}
                    {{ range $data.engagements }}
                        {{ partial "partials/about-engagemet.html" (dict "logo" .logo "title"  .title "description" .text  "link" .link)}}
                    {{ end }}
                </div>
            </div>  
        </div>

        <div class="relative pt-12 pb-20 sm:pb-28 max-w-[780px]">
            <div class="relative mt-20 lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full">
                <h2 class="text-left h2">{{.Params.section_customers_title_prefix}} <span class="text-rose">{{.Params.section_customers_title}}</span></h2>
                <div class="relative flex flex-wrap justify-center w-full pt-12">
                    {{ $data := index .Site.Data .Site.Language.Lang }}
                    {{ range $data.partners }}
                        {{ partial "partials/about-customer.html" (dict "logo" .logo "title"  .title "description" .text "link" .link)}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
