{{ define "main" }}
{{ $underline := resources.Get "/illustrations/underline.svg" }}
{{ $heroAbout := resources.Get "/illustrations/hero-about.svg" }}
{{ $circles := resources.Get "/illustrations/circles.svg" }}
{{ $arrow := resources.Get "/illustrations/arrow.svg" }}
{{ $dashline := resources.Get "/illustrations/dash-line-7.svg" }}
{{ $line6 := resources.Get "/illustrations/line-6.svg" }}
{{ $line7 := resources.Get "/illustrations/line-7.svg" }}
{{ $eclipse := resources.Get "/illustrations/eclipse.svg" }}
{{ $adoptOpenJDK := resources.Get "/illustrations/adoptOpenJDK.svg" }}
{{ $adoptium := resources.Get "/illustrations/adoptium.svg" }}
{{ $adopt := resources.Get "/illustrations/adoptJDK.svg" }}
{{ $jakarta := resources.Get "/illustrations/jakarta.svg" }}
{{ $ospo := resources.Get "/illustrations/ospo.svg" }}
{{ $java := resources.Get "/illustrations/java.svg" }}
{{ $wiki := resources.Get "/illustrations/wiki.svg" }}
{{ $opensource := resources.Get "/illustrations/opensource.svg" }}
{{ $javaland := resources.Get "/illustrations/javaland.svg" }}
{{ $itclub := resources.Get "/illustrations/itclub.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $swirlds := resources.Get "/illustrations/swirlds.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $hedera := resources.Get "/illustrations/hedera.svg" }}
{{ $heise := resources.Get "/illustrations/heise.svg" }}
{{ $arrow22 := resources.Get "/illustrations/arrow22.svg" }}
{{ $dashlineM := resources.Get "/illustrations/dash-line-7-m.svg" }}
{{ $lineM := resources.Get "/illustrations/lineM.svg" }}
{{ $lineM2 := resources.Get "/illustrations/lineM2.svg" }}
{{ $click := resources.Get "/illustrations/click.svg" }}
{{ $dashlineM2 := resources.Get "/illustrations/dashlineM.svg" }}
{{ $dashlineD := resources.Get "/illustrations/dash-line-7-d.svg" }}

<div class="relative">
    <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm">
        <div class="flex items-center justify-center sm:pt-36 pt-16 sm:pb-12 pb-4">
            <div class="relative w-full flex flex-col items-center justify-center">
              <h1 class="h1 text-center">{{ $.Param "title" | safeHTML }}</h1>
              <img src="{{ $underline.RelPermalink }}" alt="" class="absolute -bottom-3 sm:w-72 w-48 sm:-mr-24 shrink-0">
            </div>
         </div>
    </div>

    <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm">
        <div class="w-full flex lg:flex-row flex-col items-start gap-12">
            <div class="lg:w-1/2 w-full">
                <div class="relative flex flex-col items-center mt-12">
                    <div class=" bg-sky-100 lg:max-w-md rounded-[28px] border-2 border-dashed border-sky p-6 flex items-center justify-center text-center">
                        <p class="text-blue sm:text-lg">{{ $.Param "section_intro" | safeHTML }}</p>
                    </div>
                    <img class="absolute xl:-bottom-[80%] sm:-bottom-[70%] -bottom-[30%] lg:left-1/2 lg:right-auto right-0 -ml-12 sm:w-24 w-16" src="{{ $circles.RelPermalink }}" />
                    <img class="absolute xl:w-auto w-56 xl:-right-[25%] -right-[18%] xl:top-[120%] top-[110%] lg:block hidden" src="{{ $arrow.RelPermalink }}" />
                    <img class="absolute left-0 sm:top-[110%] top-[103%] md:w-16 sm:w-12 w-8 lg:hidden" src="{{ $arrow22.RelPermalink }}" />
                </div>
            </div>
            <div class="lg:w-1/2 w-full flex lg:justify-end justify-center">
                <img class="max-w-md w-full" src="{{ $heroAbout.RelPermalink }}" />
            </div>
        </div>
    </div>

    <div class="relative xl:pb-72 lg:pb-56 sm:pb-44 pb-28">
        <img class="absolute bottom-0 w-full 2xl:block hidden xl:pb-28 sm:pb-16 pb-12" src="{{ $dashline.RelPermalink }}" />
        <img class="absolute bottom-0 w-full 2xl:hidden sm:block hidden xl:pb-28 sm:pb-16 pb-12" src="{{ $dashlineD.RelPermalink }}" />
        <img class="absolute bottom-0 w-full sm:hidden sm:pb-16 pb-12" src="{{ $dashlineM.RelPermalink }}" />
        <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mt-20 relative">
            <div class="rounded-full w-5 h-5 top-6 bg-sky absolute right-[8%]"></div>
            <h1 class="h2 text-center text-blue">Our <span class="text-sky">Founder</span></h1>
    
            <div class="flex flex-col gap-7 text-blue sm:text-lg mt-8">
                <p>{{ $.Param "about_hendrik_paragraph_1" | safeHTML }}</p>
                <p>{{ $.Param "about_hendrik_paragraph_2" | safeHTML }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}