{{ define "main" }}
{{ $underline := resources.Get "/illustrations/underline.svg" }}
{{ $heroAbout := resources.Get "/illustrations/hero-about-1.svg" }}
{{ $circles := resources.Get "/illustrations/circles.svg" }}
{{ $arrow := resources.Get "/illustrations/arrow.svg" }}
{{ $dashline := resources.Get "/illustrations/dash-line.svg" }}
{{ $line6 := resources.Get "/illustrations/line-6.svg" }}
{{ $line7 := resources.Get "/illustrations/line-7.svg" }}
{{ $eclipse := resources.Get "/illustrations/eclipse.svg" }}
{{ $adoptOpenJDK := resources.Get "/illustrations/adoptOpenJDK.svg" }}
{{ $adoptium := resources.Get "/illustrations/adoptium.svg" }}
{{ $adopt := resources.Get "/illustrations/adoptJDK.svg" }}
{{ $jakarta := resources.Get "/illustrations/jakarta.svg" }}
{{ $ospo := resources.Get "/illustrations/ospo.svg" }}
{{ $java := resources.Get "/illustrations/java.svg" }}
{{ $wiki := resources.Get "/illustrations/wiki.svg" }}
{{ $opensource := resources.Get "/illustrations/opensource.svg" }}
{{ $javaland := resources.Get "/illustrations/javaland.svg" }}
{{ $itclub := resources.Get "/illustrations/itclub.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $swirlds := resources.Get "/illustrations/swirlds.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $hedera := resources.Get "/illustrations/hedera.svg" }}
{{ $heise := resources.Get "/illustrations/heise.svg" }}
{{ $arrow22 := resources.Get "/illustrations/arrow22.svg" }}
{{ $dashlineM := resources.Get "/illustrations/dashline-m.svg" }}
{{ $lineM := resources.Get "/illustrations/lineM.svg" }}
{{ $lineM2 := resources.Get "/illustrations/lineM2.svg" }}
{{ $click := resources.Get "/illustrations/click.svg" }}
{{ $dashlineM2 := resources.Get "/illustrations/dashlineM.svg" }}
{{ $teamPlaceholder := resources.Get "/illustrations/team-placeholder.svg" }}
{{ $hendrik := resources.Get "/images/hendrik.jpg" }}
{{ $circles2 := resources.Get "/illustrations/circles-2.svg" }}
{{ $star := resources.Get "/illustrations/star.svg" }}
{{ $line := resources.Get "/illustrations/line-7.svg" }}
{{ $line2 := resources.Get "/illustrations/line-6.svg" }}
{{ $sbCircle := resources.Get "/illustrations/sb-circle-2.svg" }}
{{ $circle55 := resources.Get "/illustrations/circle-55.svg" }}

<div class="">
    <div class="container relative pb-20 sm:pb-36 flow-root">
        <img class="size-40 shrink-0 absolute right-0 top-20" alt="" src="{{ $circles2.RelPermalink }}" />
        <img class="size-20 shrink-0 absolute left-52 top-[20%]" alt="" src="{{ $star.RelPermalink }}" />
        <img class="size-20 shrink-0 absolute left-12 top-[32%]" alt="" src="{{ $line.RelPermalink }}" />
        <img class="size-72 shrink-0 absolute -left-6 top-[39%]" alt="" src="{{ $sbCircle.RelPermalink }}" />
        <img class="size-20 shrink-0 absolute left-12 top-[55%]" alt="" src="{{ $line2.RelPermalink }}" />
        <img class="size-56 shrink-0 absolute left-0 top-[65%]" alt="" src="{{ $circle55.RelPermalink }}" />

        <div class="sm:pt-36 pt-16 pb-16">
            <div class="relative text-left flex sm:items-start items-center sm:justify-start justify-center">
                <h1 class="text-center h1">{{.Params.title}}</h1>
                <img src="{{ $underline.RelPermalink }}" alt="{{ i18n " altTexts.underline" }}"  class="absolute w-48 -bottom-3 lg:w-72 sm:-mr-24 shrink-0">
            </div>
        </div>
        
        <div class="flex 2xl:flex-row flex-col gap-24 w-full relative">
            <div class="2xl:w-[325px] 2xl:shrink-0 w-full relative" x-data="{section:'div1'}">
                <div class="sticky top-20 bg-white rounded-[28px] shadow-5 px-7 py-8 flex flex-col gap-6" :class="open ? 'w-full ' : 'w-24'" x-data="{open: window.innerWidth >= 1280}"    x-init="window.addEventListener('resize', () => open = window.innerWidth >= 1280)">
                    <button @click="open =!open" type="button" class="xl:hidden">
                        <svg width="38" height="21" viewBox="0 0 38 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="38" height="3" fill="#469F85"/>
                            <rect y="9" width="38" height="3" fill="#469F85"/>
                            <rect y="18" width="38" height="3" fill="#469F85"/>
                            </svg>
                    </button>
                    <div class="flex flex-col gap-4" x-show="open" x-cloak>
                        <button type="button" @click="section = 'div1'; document.getElementById('div1').scrollIntoView({ behavior: 'smooth' })" :class="section === 'div1' ? 'text-green font-bold' : 'text-blue font-medium'" class="text-base flex text-left items-start gap-3">
                            <div class="rounded-full shrink-0 size-5 border-[3px] mt-0.5" :class="section === 'div1' ? 'bg-green border-green' : ' border-purple bg-transparent'">
                            </div>
                            Our Founder
                        </button>
                        <button type="button" @click="section = 'div2'; document.getElementById('div2').scrollIntoView({ behavior: 'smooth' })" :class="section === 'div2' ? 'text-green font-bold' : 'text-blue font-medium'" class="text-base flex text-left items-start gap-3">
                            <div class="rounded-full shrink-0 size-5 border-[3px] mt-0.5" :class="section === 'div2' ? 'bg-green border-green' : ' border-purple bg-transparent'">
                            </div>
                            Our Engagements
                        </button>
                        <button type="button" @click="section = 'div3'; document.getElementById('div3').scrollIntoView({ behavior: 'smooth' })" :class="section === 'div3' ? 'text-green font-bold' : 'text-blue font-medium'" class="text-base flex text-left items-start gap-3">
                            <div class="rounded-full shrink-0 size-5 border-[3px] mt-0.5" :class="section === 'div3' ? 'bg-green border-green' : ' border-purple bg-transparent'">
                            </div>
                            Our Customers & Partners
                        </button>
                        
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-col lg:gap-32 gap-20">
                <div id="div1" class="scroll-mt-24">
                    <div class="flex items-center justify-between gap-5">
                        <h2 class="lg:text-5xl sm:text-4xl text-3xl font-bold text-blue">
                            Our <span class="text-sky">Team</span>
                        </h2>
                        <a href="#" class="text-purple sm:block hidden text-lg font-semibold">View more</a>
                    </div>
                    <div class="mt-8 grid sm:grid-cols-3 gap-x-6 sm:gap-y-4 gap-y-6 w-full place-content-center ">
                        <div>
                            <div class="relative">
                                <img class="size-56 shrink-0 object-contain" alt=""
                                    src="{{ $teamPlaceholder.RelPermalink }}" />
                            </div>
                            <div class="text-center">
                                <p class="text-lg text-blue font-bold">Tayebwa Noah</p>
                                <p class="text-sm text-purple font-bold">Software Developer</p>
                            </div>
                        </div>
                        <div>
                            <div class="relative">
                                <img class="size-56 shrink-0 object-contain" alt=""
                                    src="{{ $teamPlaceholder.RelPermalink }}" />
                                <img class="size-44 absolute bottom-5 left-1.5 rounded-full object-cover shrink-0" alt=""
                                    src="{{ $hendrik.RelPermalink }}" />
                            </div>
                            <div class="text-center">
                                <p class="text-lg text-blue font-bold">Hendrik Ebbers</p>
                                <p class="text-sm text-purple font-bold">Founder, Author</p>
                            </div>
                        </div>
                        <div>
                            <div class="relative">
                                <img class="size-56 shrink-0 object-contain" alt=""
                                    src="{{ $teamPlaceholder.RelPermalink }}" />
                                <img class="size-44 absolute bottom-5 left-1.5 rounded-full object-cover shrink-0" alt=""
                                    src="{{ $hendrik.RelPermalink }}" />
                            </div>
                            <div class="text-center">
                                <p class="text-lg text-blue font-bold">John Snow</p>
                                <p class="text-sm text-purple font-bold">Software Developer</p>
                            </div>
                        </div>
                        <div>
                            <div class="relative">
                                <img class="size-56 shrink-0 object-contain" alt=""
                                    src="{{ $teamPlaceholder.RelPermalink }}" />
                                <img class="size-44 absolute bottom-5 left-1.5 rounded-full object-cover shrink-0" alt=""
                                    src="{{ $hendrik.RelPermalink }}" />
                            </div>
                            <div class="text-center">
                                <p class="text-lg text-blue font-bold">Hendrik Ebbers</p>
                                <p class="text-sm text-purple font-bold">Founder, Author</p>
                            </div>
                        </div>
                        <div>
                            <div class="relative">
                                <img class="size-56 shrink-0 object-contain" alt=""
                                    src="{{ $teamPlaceholder.RelPermalink }}" />
                                <img class="size-44 absolute bottom-5 left-1.5 rounded-full object-cover shrink-0" alt=""
                                    src="{{ $hendrik.RelPermalink }}" />
                            </div>
                            <div class="text-center">
                                <p class="text-lg text-blue font-bold">John Snow</p>
                                <p class="text-sm text-purple font-bold">Software Developer</p>
                            </div>
                        </div>
                        <div>
                            <div class="relative">
                                <img class="size-56 shrink-0 object-contain" alt=""
                                    src="{{ $teamPlaceholder.RelPermalink }}" />
                                <img class="size-44 absolute bottom-5 left-1.5 rounded-full object-cover shrink-0" alt=""
                                    src="{{ $hendrik.RelPermalink }}" />
                            </div>
                            <div class="text-center">
                                <p class="text-lg text-blue font-bold">John Snow</p>
                                <p class="text-sm text-purple font-bold">Software Developer</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="div2" class="scroll-mt-24">
                    <h2 class="lg:text-5xl sm:text-4xl text-3xl font-bold text-blue">
                        Our <span class="text-purple">Engagements</span>
                    </h2>
                    <div class="w-full grid md:grid-cols-2 gap-5 md:mt-12 mt-7">
                        {{ $data := index .Site.Data .Site.Language.Lang }}
                        {{ range $data.engagements }}
                        {{ partial "partials/about-engagemet-2.html" (dict "logo" .logo "title" .title "description" .text "link"
                        .link)}}
                        {{ end }}
                    </div>
                </div>

                <div id="div3" class="scroll-mt-24">
                    <h2 class="lg:text-5xl sm:text-4xl text-3xl font-bold text-blue">
                        Our <span class="text-rose">Customers & Partners</span>
                    </h2>
                    <div class="relative flex flex-wrap justify-center w-full md:mt-12 mt-7">
                        {{ $data := index .Site.Data .Site.Language.Lang }}
                        {{ range $data.partners }}
                        {{ partial "partials/about-customer.html" (dict "logo" .logo "title" .title "description" .text "link"
                        .link)}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>






















</div>
{{ end }}