{{ define "main" }}
{{ $underline := resources.Get "/illustrations/underline.svg" }}
{{ $heroAbout := resources.Get "/illustrations/hero-about-1.svg" }}
{{ $circles := resources.Get "/illustrations/circles.svg" }}
{{ $arrow := resources.Get "/illustrations/arrow.svg" }}
{{ $dashline := resources.Get "/illustrations/dash-line.svg" }}
{{ $line6 := resources.Get "/illustrations/line-6.svg" }}
{{ $line7 := resources.Get "/illustrations/line-7.svg" }}
{{ $eclipse := resources.Get "/illustrations/eclipse.svg" }}
{{ $adoptOpenJDK := resources.Get "/illustrations/adoptOpenJDK.svg" }}
{{ $adoptium := resources.Get "/illustrations/adoptium.svg" }}
{{ $adopt := resources.Get "/illustrations/adoptJDK.svg" }}
{{ $jakarta := resources.Get "/illustrations/jakarta.svg" }}
{{ $ospo := resources.Get "/illustrations/ospo.svg" }}
{{ $java := resources.Get "/illustrations/java.svg" }}
{{ $wiki := resources.Get "/illustrations/wiki.svg" }}
{{ $opensource := resources.Get "/illustrations/opensource.svg" }}
{{ $javaland := resources.Get "/illustrations/javaland.svg" }}
{{ $itclub := resources.Get "/illustrations/itclub.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $swirlds := resources.Get "/illustrations/swirlds.svg" }}
{{ $longline := resources.Get "/illustrations/longline.svg" }}
{{ $hedera := resources.Get "/illustrations/hedera.svg" }}
{{ $heise := resources.Get "/illustrations/heise.svg" }}
{{ $arrow22 := resources.Get "/illustrations/arrow22.svg" }}
{{ $dashlineM := resources.Get "/illustrations/dashline-m.svg" }}
{{ $lineM := resources.Get "/illustrations/lineM.svg" }}
{{ $lineM2 := resources.Get "/illustrations/lineM2.svg" }}
{{ $click := resources.Get "/illustrations/click.svg" }}
{{ $dashlineM2 := resources.Get "/illustrations/dashlineM.svg" }}

<div class="relative">
    <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm">
        <div class="flex items-center justify-center sm:pt-36 pt-16 sm:pb-12 pb-4">
            <div class="relative w-full flex flex-col items-center justify-center">
              <h1 class="h1 text-center">{{.Params.title}}</h1>
              <img src="{{ $underline.RelPermalink }}" alt="" class="absolute -bottom-3 sm:w-72 w-48 sm:-mr-24 shrink-0">
            </div>
         </div>
         <div class="flex flex-col gap-7 text-blue sm:text-lg mt-8">
            <p>{{ $.Param "section_intro" | safeHTML }}</p>
        </div>
    </div>

    <div class="pt-24">
        <div class="container relative">
            <div class="flex items-center justify-center">
                <div class="bg-rose-100 border border-rose lg:inline-block px-6 py-3 rounded-sm relative">
                    <h2 class="h2 text-rose">{{.Params.section_engagement_title}}</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" viewBox="0 0 36 36" data-icon="clarity:cursor-arrow-solid" class="iconify text-rose text-3xl absolute -right-6 -bottom-6 iconify--clarity sm:inline hidden"><path fill="currentColor" d="M29 12.36L3.88 3a1 1 0 0 0-1.29 1.28L12 29.44a1 1 0 0 0 1.89-.05l2.69-8.75l9.12 8.9a1 1 0 0 0 1.41 0l2.35-2.35a1 1 0 0 0 0-1.41l-9.09-8.86L29 14.25a1 1 0 0 0 0-1.89Z" class="clr-i-solid clr-i-solid-path-1"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
                    <img class="text-rose text-3xl absolute -right-4 -bottom-7 sm:hidden" src="{{ $click.RelPermalink }}" />
                </div>
            </div>
            <img class="absolute lg:top-0 top-16 lg:-left-12 -left-6 xl:w-56 lg:w-48 w-36 sm:inline hidden" src="{{ $line6.RelPermalink }}" />
            <img class="absolute top-20 -left-6 w-24 sm:hidden" src="{{ $lineM.RelPermalink }}" />
            <img class="absolute lg:top-0 top-20 xl:w-44 lg:w-32 w-28 right-0 sm:inline hidden" src="{{ $line7.RelPermalink }}" />
            <img class="absolute top-28 w-16 right-0 sm:hidden" src="{{ $lineM2.RelPermalink }}" />
            <div class="pt-20 flex w-full justify-center flex-wrap">
                {{ range .Params.engagements }}
                    {{ partial "partials/about-engagemet.html" (dict "logo" .logo "title"  .title "description" .text )}}
                {{ end }}
            </div>
        </div>  
    </div>

    <div class="pt-12 sm:pb-28 pb-20 relative">
        <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mt-20 relative">
            <img class="absolute inset-0 lg:top-5 top-16 w-full lg:block hidden" src="{{ $longline.RelPermalink }}" />
            <h2 class="h2 text-center text-blue">{{.Params.section_customers_title_prefix}} <span class="text-green">{{.Params.section_customers_title}}</span></h2>
            <div class="lg:pt-20 pt-12 flex w-full justify-center flex-wrap relative">
                <img class="absolute -left-5 top-4 w-full sm:hidden" src="{{ $dashlineM2.RelPermalink }}" />
                {{ range .Params.customers }}
                    {{ partial "partials/about-customer.html" (dict "logo" .logo "title"  .title "description" .text )}}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}