<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://code.iconify.design/3/3.0.1/iconify.min.js"></script>
  </head>
  <body >
    <main class="overflow-hidden antialiased bg-gray" id="top">
      {{ block "main" . }}
      {{ end }}
      {{ partial "javascript.html" . }}
    </main>

  </body>
</html>
