{{ define "main" }}

{{ $underline := resources.Get "/illustrations/post-underline.svg" }}
{{ $rightLine := resources.Get "/illustrations/right-line.svg" }}
{{ $rightSide := resources.Get "/illustrations/right-side.svg" }}

{{ $hendrik := resources.Get "/images/hendrik.png" }}
{{ $speakers := resources.Get "/images/speakers.png" }}
{{ $speakersMobile := resources.Get "/images/speakers-mobile.png" }}
{{ $adopt := resources.Get "/images/adopt.png" }}


<div class="relative">
    <img src="{{ $rightSide.RelPermalink }}" class="absolute right-0 hidden -bottom-20 xl:block" />

    <div class="container relative max-w-sm pb-28 lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full">
        <div class="flex items-center justify-center pt-16 pb-4 sm:pt-36 sm:pb-12">
            <div class="relative flex flex-col items-center justify-center w-auto px-12">
                <h1 class="text-center h1">
                    AdoptOpenJDK Virtual Roadshow
                </h1>
                <img src="{{ $underline.RelPermalink }}" alt="{{ i18n " altTexts.underline" }}"
                    class="absolute w-36 sm:-mr-32 sm:w-72 -bottom-3 shrink-0">
            </div>
        </div>
    
        <div class="flex flex-col-reverse items-start gap-12 mt-12 xl:gap-8 xl:flex-row">
            <div class="w-full space-y-8">
                <div class="space-y-4 sm:space-y-3">
                    <div class="flex flex-wrap items-center gap-4 sm:gap-6 ">
                        <div class="flex items-center gap-2 text-purple">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                                    clip-rule="evenodd" />
                            </svg>
                            <time class="text-base font-medium">
                                14 Jul 2020
                            </time>
                        </div>
                        <div class="flex items-center gap-2 text-purple">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                <path fill-rule="evenodd"
                                    d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                                    clip-rule="evenodd" />
                            </svg>
    
                            <p class="text-base font-medium">
                                621
                            </p>
                        </div>
                        <div class="flex items-center gap-2 text-purple">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path fill-rule="evenodd"
                                    d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                                    clip-rule="evenodd" />
                            </svg>
                            <p class="text-base font-medium">
                                Hendrik Ebbers
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-wrap items-center gap-3 text-base text-purple">
                        <p>#Java</p>
                        <p>#AdoptOpenJDK</p>
                    </div>
                </div>
    
                <div class="space-y-9">
                    <p class="text-base leading-7">
                        AdoptOpenJDK is doing a virtual roadshow of the Java User Groups. We plan to reach as many groups as
                        possible but we will also live stream the event on YouTube.
                    </p>
    
                    <h2 class="text-center pt-7 h2">
                        Abstract <span class="text-green">of the session</span>
                    </h2>
    
                    <p class="text-base leading-7">
                        AdoptOpenJDK is the leading provider of OpenJDK™ binaries. With over 170 million downloads in the
                        last year, it is successfully used by many enterprises and ready for your production usage of Java™.
                        AdoptOpenJDK provides prebuilt OpenJDK binaries from a fully open source set of build scripts and
                        infrastructure. This talk will cover how we build on over 15 different platforms, execute over 87
                        million tests and distribute OpenJDK binaries to millions of users. We will also cover how
                        AdoptOpenJDK binaries compare against the Java binaries that you use today. If you’re curious to
                        understand the difference between OpenJDK, Oracle Java, AdoptOpenJDK and all the other
                        distributions, then this is the talk for you!
                    </p>
    
                    <div class="flex flex-col justify-center space-y-1">
                        <p class="text-lg font-bold text-center ">Speaker</p>
                        <img class="hidden sm:block" src="{{ $speakers.RelPermalink }}" />
                        <img class="sm:hidden"  src="{{ $speakersMobile.RelPermalink }}" />
                    </div>
    
                    <p class="text-base leading-7">
                        <b>George Adams</b> is the Java Program Manager at <a href="#"
                            class="underline link-purple">Microsoft</a> and is the recently appointed chair of the Technical
                        Steering Committee at AdoptOpenJDK. Since co-founding AdoptOpenJDK in 2016 he has been leading the
                        community outreach efforts at AdoptOpenJDK and is heavily involved in the Java ecosystem. George
                        also contributes to both the OpenJS Foundation and the Node.js Foundation where he is a core
                        collaborator and plays an active role in several of the workgroups.
                    </p>
    
                    <p class="text-base leading-7">
                        <b>Hendrik Ebbers</b> is a co-founder of <a href="#" class="underline link-purple">Karakun AG</a>
                        and lives in Dortmund, Germany. He is the founder and leader of the Java User Group Dortmund and
                        gives talks and presentations in user groups and conferences. His JavaFX book “Mastering JavaFX 8
                        Controls” was released in 2014 by Oracle press. Hendrik is a JavaOne Rockstar, JSR expert group
                        member and Java Champion. Hendrik is a member of the AdoptOpenJDK TSC.
                    </p>
    
                    <div class="max-w-lg mx-auto -ml-6 -mr-6 space-y-10 shrink-0 sm:ml-auto sm:mr-auto">
                        <h2 class="text-center pt-7 h2">
                            Scheduled <span class="text-green">Events</span>
                        </h2>
    
                        <table class="w-full text-xs table-auto sm:text-base">
                            <thead class="text-left border-b border-silver">
                                <tr>
                                    <th class="py-3 pl-2 sm:pl-0">Date</th>
                                    <th class="py-3">JUG</th>
                                    <th class="py-3 pr-2 sm:pr-0">Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-y border-silver">
                                    <td class="py-2.5 pl-2 sm:pl-0">21/07/ 2020 18:30 EDT</td>
                                    <td class="py-2.5">Knoxville JUG</td>
                                    <td class="py-2.5 pr-2 sm:pr-0"><a href="#" class="underline link-purple">meetup</a></td>
                                </tr>
                                <tr class="border-y border-silver">
                                    <td class="py-2.5 pl-2 sm:pl-0">06/08/2020 19:00 GMT+3</td>
                                    <td class="py-2.5">JUG Istanbul</td>
                                    <td class="py-2.5 pr-2 sm:pr-0"><a href="#" class="underline link-purple">meetup</a></td>
                                </tr>
                                <tr class="border-y border-silver">
                                    <td class="py-2.5 pl-2 sm:pl-0">11/08/2020 11:00 EDT</td>
                                    <td class="py-2.5">Connecticut JUG</td>
                                    <td class="py-2.5 pr-2 sm:pr-0">tbd</td>
                                </tr>
                                <tr class="border-y border-silver">
                                    <td class="py-2.5 pl-2 sm:pl-0">20/08/2020</td>
                                    <td class="py-2.5">JUG Dortmund</td>
                                    <td class="py-2.5 pr-2 sm:pr-0">tbd</td>
                                </tr>
                                <tr class="border-y border-silver">
                                    <td class="py-2.5 pl-2 sm:pl-0">20/08/2020</td>
                                    <td class="py-2.5">Eclipse Con 2020</td>
                                    <td class="py-2.5 pr-2 sm:pr-0"><a href="#" class="underline link-purple">link</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div class="w-full space-y-10">
                        <h2 class="text-center pt-7 h2">
                            Upcoming <span class="text-green">Events</span>
                        </h2>
                        <div class="space-y-6">
                            <p class="text-base leading-7">
                                We will update this as soon as we have dates/links.
                            </p>
    
                            <ul class="space-y-1 text-base list-disc list-inside">
                                <li>
                                    Enterprise Java User Group Austria
                                </li>
                                <li>
                                    Guadalajara JUG
                                </li>
                                <li>
                                    Rochester (NY) JUG
                                </li>
                                <li>
                                    SouJava
                                </li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="w-full space-y-10">
                        <h2 class="text-center pt-7 h2">
                            Your <span class="text-green">JUG?</span>
                        </h2>
                        <div class="flex flex-col justify-center space-y-6">
                            <p class="text-base leading-7">
                                If you would like to host “AdoptOpenJDK - Making Java free again” at your local JUG then please ping me.
                            </p>
                            <img src="{{ $adopt.RelPermalink }}" />
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="w-full xl:max-w-sm shrink-0">
                <div class=" rounded-[30px] w-full shadow-4 bg-white xl:p-5 p-4 xl:block md:flex lg:items-center">
                    <img class="lg:w-40 md:w-48 sm:w-40 sm:h-40 w-28 h-28 md:h-auto lg:h-40 shrink-0 object-cover rounded-[24px] xl:float-left md:float-none float-left xl:mr-6 mr-4" src="{{ $hendrik.RelPermalink }}" />
                    <div>
                        <h4 class="mb-2 text-lg font-bold">
                            Author
                        </h4>
                        <p class="text-sm leading-6">
                            Hendrik Ebbers is a co-founder of Karakun AG and lives in Dortmund, Germany. He is the founder
                            and leader of the Java User Group Dortmund and gives talks and presentations in user groups and
                            conferences. His JavaFX book "Mastering JavaFX 8 Controls" was released 2014 by Oracle press.
                            Hendrik is JavaOne Rockstar, JSR expert group member and Java Champion.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}