{{ define "main" }}
{{ $underline1 := resources.Get "/illustrations/underline-1.svg" }}
{{ $articleImg := resources.Get "/illustrations/article-img.png" }}
{{ $articleImgMb := resources.Get "/illustrations/article-img-mb.svg" }}
{{ $textBg3 := resources.Get "/illustrations/text-bg-3.svg" }}
<div class=" bg-slate other">
  <div class="container lg:max-w-5xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto sm:pt-28 pt-16">
    <div class="">
      <div class="flex items-center justify-center mt-8">
        <div class="relative -ml-8">
          <h1 class="h1 text-center">{{.Title}}</h1>
          <img src="{{ $underline1.RelPermalink }}" alt="" class=" absolute -bottom-3 -right-8">
        </div>
      </div>
      <div class="mt-10 prose mx-auto pb-24">
        {{.Content}}
      </div>
    </div>
  </div>
</div>
{{ end }}