{{ $prismJS := resources.Get "/prism/prism.js" -}}
<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
  <main class="antialiased bg-gray" id="top">
    {{ partial "navbar.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </main>
  <scrip src="{{ $prismJS.RelPermalink }}"></scrip>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <!-- {{ partial "cleverreach-newsletter-popup.html" . }} -->
  {{ partial "react-import.html" . }}
</body>

</html>