{{ define "main" }}
{{ $underline := resources.Get "/illustrations/blog-underline.svg" }}
{{ $arrow := resources.Get "/illustrations/blog-arrow.svg" }}
{{ $shape := resources.Get "/illustrations/blog-shape.svg" }}
{{ $round2 := resources.Get "/illustrations/blog-round-2.svg" }}

{{ $img1 := resources.Get "/images/img-1.png" }}
{{ $img2 := resources.Get "/images/img-2.png" }}
{{ $img3 := resources.Get "/images/img-3.png" }}
{{ $img4 := resources.Get "/images/img-4.png" }}
{{ $img5 := resources.Get "/images/img-5.png" }}
{{ $img6 := resources.Get "/images/img-6.png" }}
{{ $img7 := resources.Get "/images/img-7.png" }}
{{ $img8 := resources.Get "/images/img-8.png" }}



    <div class="relative">
    
        

        <div class="absolute w-20 h-20 bg-green-100 rounded-full xl:-left-8 xl:right-auto sm:-right-8 -right-11 xl:top-56 top-20 shrink-0"></div>
        <img src="{{ $arrow.RelPermalink }}" alt="{{ i18n "altTexts.underline" }}" class="absolute w-32 sm:w-64 2xl:w-96 lg:w-80 2xl:left-32 xl:left-9 lg:top-36 sm:top-28 top-12 shrink-0">
        
        <img src="{{ $shape.RelPermalink }}" alt="{{ i18n "altTexts.underline" }}" class="sm:block hidden absolute xl:w-32 md:w-24 w-20 md:right-[10%] right-[7%] top-48 shrink-0">

        <div class="container max-w-sm lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full">
            {{ if eq .Site.Language.Lang "de" }}
            <div class="flex flex-col items-end w-full mx-auto xl:flex-row justify-center">
                <div class=" bg-sky-100 rounded-[28px] border-2 border-dashed border-sky p-6 sm:w-96 w-full flex flex-col items-center justify-center text-center">
                    <p class="text-base leading-7 sm:text-lg sm:leading-8">Alle Beiträge gibt es in Englisch!</p>
                    <a href="{{ "posts" | absURL }}" class="flex items-center justify-center w-full gap-3 px-4 py-3 mt-4 text-base font-semibold text-center text-white capitalize transition-all duration-150 ease-in-out rounded-full bg-purple sm:px-6 hover:bg-purple-700 hover:shadow-3 active:shadow-none active:bg-purple">
                        Zur englischen Seite
                    </a>
                </div>
            </div>
            {{ end }}
            <div class="relative flex flex-col items-center justify-center w-auto px-12">
                <h1 class="text-center h1">{{.Params.title}}</h1>
                <img src="{{ $underline.RelPermalink }}" alt="{{ i18n "altTexts.underline" }}" class="absolute w-full -bottom-3 shrink-0">
            </div>
        </div>
    </div>

    {{ range .Paginator.Pages }}
    <div class="pt-7 sm:pt-12">
        <div class="container mx-auto space-y-20 lg:max-w-7xl">
            <div class="space-y-6">
                <div class="flex post {{ range .Params.categories }}{{ . }} {{ end }} sm:flex-row flex-col bg-gray rounded-[30px] shadow-4 w-full relative group">
                    <a href="{{ .Permalink }}" class="absolute inset-0 "></a>
                    <div class="relative sm:w-52 shrink-0 sm:h-auto h-72 rounded-[30px] overflow-hidden">
                        {{ with .Params.preview_image }}
                        <img src="{{ . }}" alt="" class="object-cover w-full h-full" />
                        {{ end }}
                    </div>
                    <div class="p-5">
                            <article>
                                <div class="flex flex-col gap-1.5 sm:items-center sm:gap-5 sm:flex-row">
                                    <div class="flex items-center gap-2 text-purple">
                                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z" clip-rule="evenodd" />
                                        </svg>
                                        <time class="text-[14px] font-medium">
                                            {{ dateFormat "January 2, 2006" .Params.date }}
                                        </time>
                                    </div>
                                    <div class="flex items-center gap-2 text-purple">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd" />
                                        </svg>  
                                        <p class="text-[14px] font-medium">
                                            {{ $data := index .Site.Data .Site.Language.Lang }}
                                            {{ range $author := where $data.authors "id" "hendrik" }}
                                                <a href="{{$author.link}}">{{$author.firstName}} {{$author.lastName}}</a>
                                            {{ end }}
                                        </p>
                                    </div>
                                </div>
                                <div class="flex flex-wrap items-center gap-3 mt-3 text-xs sm:mt-2 text-purple">
                                    {{ range .Params.categories }}
                                        <p>#{{ . }}</p>
                                    {{ end }}
                                </div>
                                
                                <div class="mt-6 space-y-5 sm:mt-5 sm:space-y-4">
                                    <h2 class="text-lg font-bold text-center transition-colors duration-150 ease-in-out text-blue sm:text-left sm:line-clamp-none line-clamp-2 group-hover:text-purple-700">
                                        {{ .Params.title }}
                                    </h2>
                                    <p class="text-sm leading-[22px] text-blue line-clamp-3">
                                        {{ .Params.excerpt }}
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    <div class="sm:pb-44 pb-36">
        {{ partial "pagination.html" . }}
    </div>

{{ end }}


