{{ define "main" }}
<<div class="relative">
  <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm relative xl:pb-36 pb-28">
  <!-- Post Content -->
  <article>
    <div class="flex items-center justify-center lg:pt-36 md:pt-28 sm:pt-24 pt-16 sm:pb-12 pb-4">
      <h1 class="h1 text-center flex items-center justify-center w-full">
        {{ .Title }}
      </h1>
    </div>
    <div class="relative flex flex-col">
      {{ .Content }}
    </div>
  </article>
  </div>
  </div>
{{ end }}


