<div class="relative w-full py-3 sm:px-3">
    <div class="bg-gray rounded-[30px] shadow-4 p-6 pb-9 h-full">
        <div class="flex items-center justify-start gap-3">
            <div class="flex items-center justify-start w-24 h-28">
                <a href="{{ .link }}" target="_blank" style="width: 100%"><img class="w-full" src="{{ .logo }}" /></a>
            </div>
            <p class="pr-2 text-2xl font-bold text-blue">{{ .title }}</p>
        </div>
        <p class="text-sm leading-6">{{ .description | markdownify }}</p>
    </div>
</div>