{{ $underline := resources.Get "/illustrations/underline.svg" }}
{{ $rightSide := resources.Get "/illustrations/right-side.svg" }}
{{ $fabien := resources.Get "/images/fabien.jpg" }}

<div class="relative lg:pb-48 sm:pb-32 pb-28">
    <div class="container mt-12 xl:max-w-6xl">
        <div
          class="text-blue prose prose-a:text-purple-700 prose-code:bg-yellow prose-blockquote:border-l-0 prose-blockquote:bg-green-100 prose-blockquote:not-italic prose-blockquote:px-8 prose-blockquote:py-3 prose-blockquote:rounded-3xl relative"
          style="max-width: 100%">
            {{ .content }}
        </div>
    </div>
</div>