{{ $image := resources.Get "/images/logo.svg" }}
{{ $round1 := resources.Get "/illustrations/round-1.svg" }}
{{ $round2 := resources.Get "/illustrations/round-2.svg" }}

<div class="bg-blue">
    <div class="container relative max-w-sm mx-auto lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full">
        <div class="absolute sm:-top-20 -top-16 sm:right-[12%] right-[8%] z-10">
            <a href="#top" alt="go up" name="go up" class="flex items-center justify-center w-12 h-12 transition-all duration-150 ease-in-out rounded-full shadow-2xl bg-green shadow-green hover:scale-110 sm:w-14 sm:h-14">
                <span class="text-4xl text-white iconify" data-icon="iconoir:nav-arrow-up"></span>
            </a>
        </div>
    </div>
    <div class="overflow-hidden ">
        <div class="container relative max-w-sm py-12 mx-auto lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full lg:py-20 sm:py-16">
            <img src="{{ $round1.RelPermalink }}" alt="Circle" class="absolute w-full max-w-sm lg:-right-32 -bottom-16 -right-16 lg:-top-1/2" />
            <img src="{{ $round2.RelPermalink }}" alt="Circle" class="absolute left-0 w-32 lg:right-80 lg:top-16 bottom-1/2 lg:left-auto" />
            <div class="relative flex flex-col gap-5 lg:flex-row 2xl:gap-20 sm:gap-12">
                <div class="flex flex-col justify-between gap-6 xl:w-64 lg:w-1/3 shrink-0">
                    <div class="flex flex-col gap-6">
                        <a href="/"><img src="{{ $image.RelPermalink }}" alt="logo" class="h-8"></a>
                        <p class="text-sm leading-7 text-white">{{ T "footerPhrase" }}</p>
                    </div>
                    <div class="items-center hidden gap-4 lg:flex">
                        {{ $social := site.Data.social }}
                        {{ range $social }}
                        <a href="{{ .link }}/" aria-label="{{ .name }}"  target="_blank" class="flex items-center justify-center text-3xl text-white transition-colors duration-150 ease-in-out rounded group hover:text-blue focus:outline-none bg-white/40 hover:bg-green w-11 h-11">
                            <span class="iconify" data-icon="{{ .icon | safeURL }}"></span>
                        </a>
                        {{ end }}
                    </div>
                </div>
                <div class="grid grid-cols-2 xl:w-full lg:w-2/3 xl:grid-cols-4 gap-x-5 gap-y-10">
                    <div class="">
                        <p class="mb-4 text-base font-semibold leading-10 text-white sm:text-2xl sm:mb-6">Explore</p>
                        <div class="flex flex-col gap-5">
                            {{ $mainMenu := site.Data.mainMenu }}
                            {{ range $mainMenu }}
                            {{ if .visibleInFooter }}
                            <a href="{{ relLangURL .link }}" class="flex items-start gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">{{ print .i18nKey | i18n }}</span>
                            </a>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <div>
                        <p class="mb-4 text-base font-semibold leading-10 text-white sm:text-2xl sm:mb-6">{{ T "privacy" }}</p>
                        <div class="flex flex-col gap-5">
                            {{if eq "en" $.Lang}}
                            <a href="https://www.iubenda.com/privacy-policy/63821551" class="flex items-center gap-3 group iubenda-nostyle no-brand iubenda-noiframe iubenda-embed " title="{{ T "privacyPolicy" }} ">
                            {{else}}
                            <a href="https://www.iubenda.com/privacy-policy/15787680" class="flex items-center gap-3 group iubenda-nostyle no-brand iubenda-noiframe iubenda-embed " title="{{ T "privacyPolicy" }} ">
                            {{end}}
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">{{ T "privacyPolicy" }}</span>
                            </a>
                            {{if eq "en" $.Lang}}
                            <a href="https://www.iubenda.com/privacy-policy/63821551/cookie-policy" class="flex items-center gap-3 group iubenda-nostyle no-brand iubenda-noiframe iubenda-embed " title="{{ T "privacyCookies" }} ">
                            {{else}}
                            <a href="https://www.iubenda.com/privacy-policy/15787680/cookie-policy" class="flex items-center gap-3 group iubenda-nostyle no-brand iubenda-noiframe iubenda-embed " title="{{ T "privacyCookies" }} ">
                            {{end}}
                            <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                            <span class="footer-link">{{ T "privacyCookies" }}</span>
                            </a>
                            <a href="" class="flex items-center gap-3 iubenda-cs-preferences-link group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">{{ T "privacySettings" }}</span>
                            </a>
                            <a href="{{ relref . "/impressum" }}" class="flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">{{ T "impressum" }}</span>
                            </a>
                            <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                        </div>
                    </div>
                    <div class="relative w-full col-span-2 xl:col-span-2">
                        <div class="flex items-center justify-start gap-4 mt-6 lg:hidden">
                            {{ $social := site.Data.social }}
                            {{ range $social }}
                            <a href="{{ .link }}/" aria-label="{{ .name }}" target="_blank" class="flex items-center justify-center text-3xl text-white transition-colors duration-150 ease-in-out rounded group hover:text-blue focus:outline-none bg-white/40 hover:bg-green w-11 h-11">
                                <span class="iconify" data-icon="{{ .icon | safeURL }}"></span>
                            </a>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/js/index.js"></script> -->