{{ $image := resources.Get "/images/logo.png" }}
{{ $round1 := resources.Get "/illustrations/round-1.svg" }}
{{ $round2 := resources.Get "/illustrations/round-2.svg" }}

<div class="bg-blue">
    <div class="container mx-auto lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm relative">
        <div class="absolute sm:-top-7 -top-6 sm:right-[12%] right-[8%] z-10">
            <a href="#top" alt="go up" name="go up"
                class="rounded-full bg-purple sm:w-14 sm:h-14 w-12 h-12 flex items-center justify-center">
                <span class="iconify text-4xl text-white" data-icon="iconoir:nav-arrow-up"></span>
            </a>
        </div>
    </div>
    <div class=" overflow-hidden">4
        <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto lg:py-20 sm:py-16 py-12 relative">
            <img src="{{ $round1.RelPermalink }}" class="absolute max-w-sm w-full lg:-right-32 -bottom-16 -right-16 lg:-top-1/2" />
            <img src="{{ $round2.RelPermalink }}" class="absolute w-32 lg:right-80 lg:top-16 bottom-1/2 left-0 lg:left-auto" />
            
            <div class="flex lg:flex-row flex-col 2xl:gap-20 sm:gap-12 gap-5">
                <div class="xl:w-64 lg:w-1/3 shrink-0 flex flex-col justify-between gap-6">
                    <a href="">
                        <img src="{{ $image.RelPermalink }}" alt="" class="h-8">
                    </a>

                    <p class="text-white text-sm leading-7">
                        Sed ut perspiciatis of unde omnis
                        natus error sit voluptatem accnti.
                    </p>

                    <div class="lg:flex hidden items-center gap-4">
                        <a href="" arget="_blank"
                            class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                            <span class="iconify footer-icon" data-icon="uil:facebook-f"></span>
                        </a>
                        <a href=""
                            class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                            <span class="iconify footer-icon" data-icon="carbon:logo-instagram"></span>
                        </a>
                        <a href="" arget="_blank"
                            class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                            <span class="iconify footer-icon" data-icon="mdi:twitter"></span>
                        </a>
                        <a href="" arget="_blank"
                            class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                            <span class="iconify footer-icon" data-icon="jam:pinterest"></span>
                        </a>
                    </div>
                </div>

                <div class="xl:w-full lg:w-2/3 grid xl:grid-cols-4 grid-cols-2 xl:gap-x-5 gap-x-6 gap-y-10">
                    <div>
                        <h4 class="sm:text-2xl text-base font-bold leading-10 text-white font-semibold sm:mb-6 mb-4">Explore</h4>
                        <div class="flex flex-col gap-5">
                            <a href="" class="flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">Home</span>
                            </a>
                            <a href="" class="flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">About</span>
                            </a>
                            <a href="" class="flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">Services</span>
                            </a>
                            <a href="" class="flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">Screenshot</span>
                            </a>
                            <a href="" class="flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">Contact</span>
                            </a>
                        </div>
                    </div>

                    <div>
                        <h4 class="sm:text-2xl text-base font-bold leading-10 text-white font-semibold sm:mb-6 mb-4">Datenschutz</h4>
                        <div class="flex flex-col gap-5">
                            <a href="/privacy-policy/" class="flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">Datenschutzerklärung</span>
                            </a>
                            <a href="" class="iubenda-cs-preferences-link flex items-center gap-3 group">
                                <span class="iconify footer-link-icon" data-icon="ph:arrow-right-bold"></span>
                                <span class="footer-link">Ihre Datenschutzeinstellungen</span>
                            </a>
                        </div>
                    </div>

                    <div class="xl:col-span-2 col-span-2 w-full relative">
                        <div class="flex justify-end items-end lg:h-full w-full">
                            <div class="w-full">
                                <p class="text-sm text-white font-medium mb-2">Send Us Newsletter to get Update</p>
                                <div class="flex items-stretch">
                                    <input type="email"
                                        class="bg-white py-3 text-sm text-blue font-semibold placeholder:text-blue rounded-lg rounded-tr-none rounded-br-none focus:outline-none px-4 xl:max-w-xs lg:max-w-sm w-full" placeholder="Enter E-mail" />
                                    <button type="button" class="bg-green rounded-lg rounded-l-none px-6 py-3">
                                        <svg class="w-5 h-5" width="23" height="22" viewBox="0 0 23 22" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M21.8226 4.00708C22.6955 1.5132 20.3185 -0.545074 18.0157 0.134408C18.002 0.138463 17.9883 0.142813 17.9748 0.147455L2.03551 5.60548C-0.738482 6.49558 -0.657108 10.4024 2.15677 11.2493C2.16629 11.2522 2.17586 11.2549 2.18546 11.2575L7.53372 12.6947C7.54499 12.6977 7.55631 12.7006 7.56769 12.7032C8.3844 12.8923 9.01192 13.5238 9.31521 14.4969L10.7417 19.8395C10.7419 19.8403 10.7421 19.8411 10.7423 19.8419C11.4893 22.6812 15.3933 22.6924 16.3723 20.0263L16.3803 20.0037L21.8226 4.00708ZM18.5998 2.04745C19.5331 1.78483 20.2002 2.59209 19.934 3.34867L14.4913 19.3466C14.1289 20.3098 12.8852 20.1287 12.6762 19.3321L11.2425 13.9622C11.2394 13.9504 11.236 13.9386 11.2324 13.9269C10.7714 12.4237 9.68853 11.1488 8.03697 10.759L2.72091 9.33043C1.73156 9.02224 1.81194 7.77426 2.65149 7.50827L2.67343 7.50104L18.5998 2.04745Z"
                                                fill="white" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="lg:hidden flex items-center sm:justify-start justify-between gap-4 mt-6">
                            <a href="" target="_blank"
                                class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                                <span class="iconify footer-icon" data-icon="uil:facebook-f"></span>
                            </a>
                            <a href="" arget="_blank"
                                class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                                <span class="iconify footer-icon" data-icon="carbon:logo-instagram"></span>
                            </a>
                            <a href="" arget="_blank"
                                class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                                <span class="iconify footer-icon" data-icon="mdi:twitter"></span>
                            </a>
                            <a href="" arget="_blank"
                                class=" focus:outline-none bg-white/40 rounded w-11 h-11 flex items-center justify-center">
                                <span class="iconify footer-icon" data-icon="jam:pinterest"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>