{{ $bullet := resources.Get "/illustrations/bullet.svg" -}}
{{ $css := resources.Get "/css/style.css" -}}
{{ $prismCSS := resources.Get "/prism/prism.css" -}}
{{ $style := $css | resources.Minify -}}

<head>
  {{ partial "google.html" . }}
  {{ if .Params.Description -}}
  <meta name="description" content="{{ .Params.Description }}" />
  {{ end -}}
  {{ if .Params.Keywords -}}
  <meta name="keywords" content="{{ delimit .Params.Keywords ", " }}" />
  {{ else if .Site.Params.keywords -}}
  <meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}" />
  {{ else -}}
  <meta name="keywords" content="open source, Java, OSS, open source Support, Java Support" />
  {{ end -}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    {{ if .Page.Title -}}
    {{ .Site.Title }} &ndash; {{ .Page.Title }}
    {{ else -}}
    {{ .Site.Title }}
    {{ end -}}
  </title>
  {{ partial "head-meta.html" . }}
  <link rel="icon" href="/icons/favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="/icons/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="{{ $prismCSS.RelPermalink }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
  <!-- Canonicalization -->
  <link rel="canonical" href="{{ .Permalink }}" />
  <!-- hreflang Tags -->
  {{ if eq .Site.Language.Lang "de" }}
    <link rel="alternate" hreflang="de" href="{{ .Permalink }}" />
  {{ else }}
  <link rel="alternate" hreflang="en" href="{{ .Permalink }}" />
  <link rel="alternate" hreflang="de" href="{{ printf "%s/de%s" .Site.BaseURL .RelPermalink }}" />
  {{ end }}
  <link rel="alternate" hreflang="x-default" href="https://open-elements.com/" />
  <!-- Alpine Plugins -->
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://code.iconify.design/3/3.0.1/iconify.min.js"></script>
  <!-- {{ partial "iubenda.html" . }} -->
</head>