<meta property="og:type" content="website" />
<meta property="og:url" content='{{ .Site.BaseURL }}{{ trim .Page.RelPermalink "/"}}' />
<meta property="og:image" content='{{ .Site.BaseURL }}open-graph/open-elements.png' />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="OpenElements Logo" />
<meta property="og:site_name" content="Open Elements" />

{{ if .Page.Params.title }}
    <meta property="og:title" content='{{ .Site.Title }} - {{ .Page.Params.title }}' />
{{ else }}
    <meta property="og:title" content='{{ .Site.Title }}' />
{{ end }}

{{ if .Page.Params.description }}
    <meta property="og:description" content='{{ .Page.Params.description }}' />
{{ else }}
    <meta property="og:description" content='{{ .Site.Params.Description }}' />
{{ end }}

{{ if eq $.Site.Language.Lang "en" }}
    <meta property="og:locale" content="en_US" />
{{ end }}
{{ if eq $.Site.Language.Lang "de" }}
    <meta property="og:locale" content="de_DE" />
{{ end }}

{{ if .Params.Keywords -}}
<meta name="keywords" content="{{ delimit .Params.Keywords ", " }}" />
{{ else if .Site.Params.keywords -}}
<meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}" />
{{ else -}}
<meta name="keywords" content="open source, Java, OSS, open source Support, Java Support" />
{{ end -}}
