<!-- <script type="text/javascript">
var _iub = _iub || [];
{{ if eq $.Site.Language.Lang "en" -}}
var iubendaLang = "en"
{{ else -}}
var iubendaLang = "de"
{{ end -}}
_iub.csConfiguration = {"askConsentAtCookiePolicyUpdate":true,"countryDetection":true,"enableFadp":true,"enableLgpd":true,"enableUspr":true,"lang":iubendaLang,"lgpdAppliesGlobally":false,"perPurposeConsent":true,"siteId":2724482,"whitelabel":false,"cookiePolicyId":15787680, "banner":{ "acceptButtonColor":"#5CBA9E","acceptButtonDisplay":true,"backgroundColor":"#020147","closeButtonDisplay":false,"customizeButtonColor":"#15649F","customizeButtonDisplay":true,"explicitWithdrawal":true,"listPurposes":true,"logo":null,"position":"bottom","prependOnBody":true,"rejectButtonColor":"#15649F","rejectButtonDisplay":true,"showPurposesToggles":true }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script> -->