{{ $image := resources.Get "/images/logo.svg" }}
{{ $herobg := resources.Get "/illustrations/home-bg-2.svg" }}
{{ $herobg2 := resources.Get "/illustrations/hero-bg-2.svg" }}
{{ $mBgHero := resources.Get "/illustrations/m-bg-hero.svg" }}
{{ $smBgHero := resources.Get "/illustrations/bg-hero-mb.svg" }}
{{ $menu := resources.Get "/illustrations/burger-menu.svg" }}
{{ $close := resources.Get "/illustrations/close.svg" }}
{{ $menuBg := resources.Get "/illustrations/menu-bg.svg" }}
{{ $logoSupport := resources.Get "/images/open-elements-support-logo.png" }}

<div class="relative">
  <div class="absolute top-0 flex items-start w-full">
    {{ if .IsHome }}
    <div class="bg-blue h-[244px] w-full 2xl:block hidden"></div>
    {{ else }}
    <div class="bg-blue h-[274px] w-full 2xl:block hidden"></div>
    {{ end }}
    <div class="w-full 2xl:shrink-0">
      {{ if .IsHome }}
      <img class="hidden w-full mt-3 xl:mt-0 lg:block" src="{{ $herobg.RelPermalink }}" alt="Hero background for desktop view" />
      <img class="absolute inset-0 block object-cover object-center w-full md:-top-28 sm:-top-24 -top-10 lg:hidden"
        src="{{ $mBgHero.RelPermalink }}" alt="Hero background for mobile" />
      {{ else }}
      <img class="hidden w-full mt-10 2xl:-mt-2 lg:mt-5 md:mt-16 sm:block" src="{{ $herobg2.RelPermalink }}" alt="Secondary hero background for desktop view" />
      <img class="object-contain object-center w-full -mt-4 sm:hidden" src="{{ $smBgHero.RelPermalink }}" alt="Secondary hero background for mobile view" />
      {{ end }}
    </div>
    {{ if .IsHome }}
    <div class="bg-blue h-[595px] w-full 2xl:block hidden"></div>
    {{ else }}
    <div class="bg-blue h-[179.5px] w-full 2xl:block hidden"></div>
    {{ end }}
  </div>

  <div class="container pt-16" x-data="{ open:false }">
    <div class="fixed inset-x-0 top-0 z-30 w-full pb-3 bg-blue ">
      <div class="container relative mx-auto max-w-7xl">
        <nav class="flex items-center justify-between pt-5 pb-3">
          <a href="{{ .Site.Home.RelPermalink }}"><img src="{{ $image.RelPermalink }}" alt="logo"
              class="h-5 sm:h-7"></a>
          <div class="items-center hidden xl:flex gap-9">
            <div class="flex items-center gap-9">
              {{ $mainMenu := site.Data.mainMenu }}
              {{ range $mainMenu }}
              {{ if .visibleInNavigation }}
              <div class="nav-item group relative">
                {{ if .children }}
                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar"
                  class="flex items-center justify-between nav-link">
                  {{ print .i18nKey | i18n }}
                  <svg class="ml-1 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </button>
                <div id="dropdownNavbar"
                  class="hidden absolute left-1/2 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
                  <div
                    class="dropdownBox w-screen max-w-md flex-auto overflow-hidden bg-blue text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
                    <div class="p-4">
                      {{ range .children }}
                      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                        <div>
                          <a href="{{ relLangURL .link }}" class="nav-link whitespace-nowrap">
                            {{ print .i18nKey | i18n }}
                            <span class="absolute inset-0 "></span>
                          </a>
                        </div>
                      </div>
                      {{ end }}
                    </div>
                  </div>
                </div>
                {{else}}
                <a href="{{ relLangURL .link }}" class="nav-link inline-flex items-center">
                  {{ print .i18nKey | i18n }}
                </a>
                {{ end }}
              </div>
              {{ end }}
              {{ end }}
            </div>
            <div>
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-5 h-5 text-green">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
                </svg>
                <div class="flex items-center gap-1">
                  {{ range $.AllTranslations }}
                  {{if eq .Lang $.Lang}}
                  <span
                    class="bg-green rounded-full px-2 py-[3px] text-xs font-medium leading-none text-center text-blue">{{
                    .Language.LanguageName }}</span>
                  {{else}}
                  <a href="{{ .RelPermalink }}" class="bg-transparent rounded-full px-2 py-[3px] text-xs font-medium leading-none text-center hover:bg-white/20 transition-all ease-in-out duration-150
                                        text-white">{{ .Language.LanguageName }}</a>
                  {{end}}
                  {{ end }}
                </div>
              </div>
            </div>
            <div class="flex items-center gap-5">
              {{ $social := site.Data.social }}
              {{ range $social }}
              <a href="{{ .link }}" aria-label="{{ .name }}" target="_blank" class="focus:outline-none"><span
                  class="iconify nav-icon" data-icon="{{ .icon | safeURL }}"></span></a>
              {{ end }}
            </div>
          </div>
          <button class="xl:hidden">
            <img class="w-8" @click="open = true" alt="burger" src="{{ $menu.RelPermalink }}" />
          </button>
        </nav>
      </div>
    </div>


    <div class="fixed inset-0 top-0 z-30 h-full bg-blue xl:hidden" x-show="open" x-cloak
      x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95"
      x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75"
      x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95">
      <div class="relative w-full h-screen">
        <img class="absolute inset-0 object-cover w-full h-full" alt="menu background"
          src="{{ $menuBg.RelPermalink }}" />
        <nav class="container relative flex items-center justify-between pt-4 pb-3 mx-auto sm:pt-5 max-w-7xl">
          <a href="{{ .Site.Home.RelPermalink }}"><img src="{{ $image.RelPermalink }}" alt="" class="h-5 sm:h-7"></a>
          <button class="xl:hidden">
            <img class="w-7" @click="open = false" alt="close button icon" src="{{ $close.RelPermalink }}" />
          </button>
        </nav>
        <div
          class="flex flex-col sm:items-center justify-between py-12 sm:px-12 px-8 gap-24 relative h-[calc(100vh-70px)]">
          <div class="flex flex-col gap-11 sm:items-center">
            <div class="flex flex-col sm:items-center gap-7">
              {{ $mainMenu := site.Data.mainMenu }}
              {{ range $mainMenu }}
              {{ if .visibleInNavigation }}
              <div class="nav-item group relative">
                {{ if .children }}
                <button id="dropdownNavbarLinkMobile" data-dropdown-toggle="dropdownNavbarMobile"
                  class="flex items-center justify-between nav-link">
                  {{ print .i18nKey | i18n }}
                  <svg class="ml-1 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
                  </svg>
                </button>
                <div id="dropdownNavbarMobile"
                  class="hidden absolute left-1/2 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
                  <div
                    class="dropdownBox w-screen max-w-md flex-auto overflow-hidden bg-blue text-sm leading-6 shadow-lg ring-1 ring-gray-900/5">
                    <div class="p-4">
                      {{ range .children }}
                      <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                        <div>
                          <a href="{{ relLangURL .link }}" class="nav-link whitespace-nowrap">
                            {{ print .i18nKey | i18n }}
                            <span class="absolute inset-0 "></span>
                          </a>
                        </div>
                      </div>
                      {{ end }}
                    </div>
                  </div>
                </div>
                {{else}}
                <a href="{{ relLangURL .link }}" class="nav-link inline-flex items-center">
                  {{ print .i18nKey | i18n }}
                </a>
                {{ end }}
              </div>
              {{ end }}
              {{ end }}
            </div>
            <div class="flex items-center gap-4 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5 text-green">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
              </svg>
              <div class="flex items-center gap-3">
                {{ range $.AllTranslations }}
                {{if eq .Lang $.Lang}}
                <span
                  class="bg-green rounded-full px-2 py-[3px] text-xs font-medium leading-none text-center text-blue">{{
                  .Language.LanguageName }}</span>
                {{else}}
                <a href="{{ .RelPermalink }}"
                  class="bg-transparent rounded-full px-2 py-[3px] text-xs font-medium leading-none text-center hover:bg-white/20 transition-all ease-in-out duration-150 text-white">{{
                  .Language.LanguageName }}</a>
                {{end}}
                {{ end }}
              </div>
            </div>
          </div>
          <div class="flex items-center gap-6">
            {{ $social := site.Data.social }}
            {{ range $social }}
            <a href="{{ .link }}" aria-label="{{ .name }}" target="_blank" class="focus:outline-none"><span
                class="iconify nav-icon" data-icon="{{ .icon | safeURL }}"></span></a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>