{{ $image := resources.Get "/images/logo.png" }}
{{ $herobg := resources.Get "/illustrations/home-bg-2.svg" }}
{{ $herobg2 := resources.Get "/illustrations/hero-bg-2.svg" }}
{{ $mBgHero := resources.Get "/illustrations/m-bg-hero.svg" }}
{{ $smBgHero := resources.Get "/illustrations/bg-hero-mb.svg" }}
{{ $menu := resources.Get "/illustrations/burger-menu.svg" }}
{{ $close := resources.Get "/illustrations/close.svg" }}
{{ $menuBg := resources.Get "/illustrations/menu-bg.svg" }}

<div class="bg-blue relative " x-data="{ open:false }">
    {{ if trim .Page.RelPermalink "/"}}
    <img class="absolute top-5 inset-0 object-cover object-center w-full sm:block hidden" src="{{ $herobg2.RelPermalink }}" />
    <img class="absolute -top-[20%] inset-0 object-contain object-center w-full sm:hidden" src="{{ $smBgHero.RelPermalink }}" />
    {{ else }}
    <img class="absolute top-5 inset-0 object-cover object-center w-full lg:block hidden" src="{{ $herobg.RelPermalink }}" />
    <img class="absolute md:-top-28 sm:-top-24 -top-5 inset-0 object-cover object-center w-full lg:hidden block" src="{{ $mBgHero.RelPermalink }}" />
    {{ end }}
    <div class="container mx-auto max-w-7xl relative">
        <nav class="flex items-center justify-between pt-5 pb-3 ">
            <a href="/"><img src="{{ $image.RelPermalink }}" alt="" class="sm:h-7 h-5"></a>
            <div class="lg:flex hidden items-center gap-24">
                <div class="flex items-center gap-7">
                    <a href="/open-source" class="nav-link">Open Source</a>
                    <a href="/about" class="nav-link">About us</a>
                </div>
                <div class="flex items-center gap-5">
                    <a href="https://github.com/OpenElements" class=" focus:outline-none"><span class="iconify nav-icon" data-icon="mdi:github"></span></a>
                    <a href="https://twitter.com/hendrikebbers" class=" focus:outline-none"><span class="iconify nav-icon" data-icon="mdi:twitter"></span></a>
                </div>
            </div>
            <button class="lg:hidden">
                <img class="w-7" @click="open = true" src="{{ $menu.RelPermalink }}" />
            </button>
        </nav>
    </div>

    <div class=" fixed top-0 inset-0 z-30 bg-blue h-full lg:hidden" x-show="open"
        x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95"
        x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75"
        x-transition:leave-start="transform opacity-100 scale-100"
        x-transition:leave-end="transform opacity-0 scale-95">
        <div class="relative w-full bg-rose h-screen">
            <img class="absolute inset-0 w-full object-cover h-full" src="{{ $menuBg.RelPermalink }}" />
            <nav class="flex items-center justify-between sm:pt-5 pt-4 pb-3 relative container max-w-7xl mx-auto">
                <a href="/"><img src="{{ $image.RelPermalink }}" alt="" class="sm:h-7 h-5"></a>
                <button class="lg:hidden">
                    <img class="w-7" @click="open = false" src="{{ $close.RelPermalink }}" />
                </button>
            </nav>
            <div class="flex flex-col sm:items-center justify-between py-12 sm:px-12 px-8 gap-24 relative h-[calc(100vh-70px)]">
                <div class="flex flex-col sm:items-center gap-7">
                    <a href="/articles/first-article/" class="nav-link">Open Source</a>
                    <a href="/about" class="nav-link">About us</a>
                </div>
                <div class="flex items-center sm:justify-center justify-between sm:gap-12 gap-5 w-full">
                    <a href="https://github.com/OpenElements" class=" focus:outline-none "><span class="iconify nav-icon-mb" data-icon="mdi:github"></span></a>
                    <a href="https://twitter.com/hendrikebbers" class=" focus:outline-none"><span class="iconify nav-icon-mb" data-icon="mdi:twitter"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>