{{ $teamBg := resources.Get "/illustrations/bg-team.svg" }}

<div class="flex flex-col justify-start max-w-[230px]" style="max-width: 230px;">
    <div class="relative mt-8">
        <img src="{{ $teamBg.RelPermalink }}" style="height: 224px;" />
        <img src="{{ .picture }}" style="width: 192px; border-radius: 50%; top: 27px; left: 10px; position: absolute;" />
    </div>
    <div class="mx-auto">
        <h3 class="text-lg font-bold">{{ .fullName }}</h3>
        {{ if .roles }}
            <p class="text-sm font-bold text-purple mx-auto">{{ delimit .roles ", " }}</p>
        {{ end }}
    </div>
</div>
