{{ define "main" }}
{{ $404 := resources.Get "/illustrations/404.svg" }}
{{ $bgOops := resources.Get "/illustrations/bg-oops.svg" }}

<div class="container flex flex-col-reverse items-center justify-center gap-12 xl:py-56 py-36 sm:flex-col">
    <img class="w-full h-full max-w-md mx-auto 2xl:max-w-3xl lg:max-w-xl" alt="404 image" src="{{ $404.RelPermalink }}" />
    <h1 class="text-center h1">
        <div class="inline tracking-tight lg:inline sm:block">
            <div class="relative z-0 inline-flex items-center justify-center px-5 -ml-5 -mr-5 sm:px-16 sm:-ml-16 sm:-mr-16">
                <img class="absolute lg:w-56 sm:w-48 w-32 inset-0 sm:ml-8 sm:-mt-2.5 -mt-1" alt="{{ i18n "altTexts.underline" }}" src="{{ $bgOops.RelPermalink }}" />
                <span class="relative">Ooops - </span>
            </div>
        </div>
        <div class="relative inline">
            <span>{{ i18n "404.notFound" }}</span>
        </div>
    </h1>
</div>
{{ end }}