{{ define "main" }}

{{ partial "navbar.html" . }}

<div class="bg-gray-100 h-screen flex items-center flex-col gap-5 justify-center p-24">
    <h2 class="text-3xl text-center">Home Page</h2>
    <div class="flex items-center gap-5">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/articles/first-article/">Articles</a>
    </div>

    <div x-data="{ open: false }">
            <button @click="open = true">Expand</button>
         
            <span x-show="open">
                  Content...
                </span>
    </div>
</div>



{{ partial "footer.html" . }}

{{ end }}