{{ define "main" }}
{{ $heroCircle := resources.Get "/illustrations/landingpage-hero.svg" }}
{{ $heroTextBg := resources.Get "/illustrations/text-bg.svg" }}
{{ $arrow1 := resources.Get "/illustrations/arrow-1.svg" }}
{{ $arrow2 := resources.Get "/illustrations/arrow-2.svg" }}
{{ $arrow2sm := resources.Get "/illustrations/arrow-sm.svg" }}
{{ $arrow3 := resources.Get "/illustrations/arrow-3.svg" }}
{{ $arrow4 := resources.Get "/illustrations/arrow-4.svg" }}
{{ $arrow5 := resources.Get "/illustrations/arrow-5.svg" }}
{{ $arrow6 := resources.Get "/illustrations/arrow-6.svg" }}
{{ $section2 := resources.Get "/illustrations/section-2.svg" }}
{{ $section3 := resources.Get "/illustrations/section-3.svg" }}
{{ $section4 := resources.Get "/illustrations/section-4.svg" }}
{{ $section5 := resources.Get "/illustrations/section-5.svg" }}
{{ $section6 := resources.Get "/illustrations/section-6.svg" }}
{{ $section2bg := resources.Get "/illustrations/section-2-bg.svg" }}
{{ $star := resources.Get "/illustrations/star.svg" }}
{{ $textBg := resources.Get "/illustrations/text-bg-1.svg" }}
{{ $textBg2 := resources.Get "/illustrations/text-bg-2.svg" }}
{{ $connectedLine := resources.Get "/illustrations/connected-line-2.svg" }}
{{ $connectedLineVertical := resources.Get "/illustrations/vertical-line.svg" }}
{{ $line1 := resources.Get "/illustrations/line-1.svg" }}
{{ $line2 := resources.Get "/illustrations/line-2.svg" }}
{{ $line3 := resources.Get "/illustrations/line-3.svg" }}
{{ $line4 := resources.Get "/illustrations/line-4.svg" }}
{{ $thunder := resources.Get "/illustrations/thunder.svg" }}
{{ $randomStar := resources.Get "/illustrations/random-star.svg" }}
{{ $bullet := resources.Get "/illustrations/bullet.svg" }}
{{ $mArrow1 := resources.Get "/illustrations/m-arrow-1.svg" }}
{{ $mArrow2 := resources.Get "/illustrations/m-arrow-2.svg" }}
{{ $click := resources.Get "/illustrations/click.svg" }}
{{ $click2 := resources.Get "/illustrations/click-2.svg" }}
{{ $section5m := resources.Get "/illustrations/section-5m.svg" }}
{{ $section5m2 := resources.Get "/illustrations/section-5m2.svg" }}
{{ $bullet1 := resources.Get "/illustrations/bullet-1.svg" }}
{{ $bullet2 := resources.Get "/illustrations/bullet-2.svg" }}
{{ $openDiversity := resources.Get "/illustrations/open-diversity.svg" }}
{{ $openDoor := resources.Get "/illustrations/opendoor.svg" }}
{{ $callIcon := resources.Get "/icons/call.svg" }}


<div class="relative mx-auto">
    <div class="lg:container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto mt-12 sm:pb-0 pb-14">
        <div class="flex lg:flex-row flex-col items-center gap-8 lg:mt-32 mt-20">
            <div class="w-full relative ">
                <img class="absolute 2xl:right-20 right-12 -top-24 lg:block hidden" alt="arrow" src="{{ $arrow1.RelPermalink }}" />
                <img class="absolute right-[20%] -bottom-64 lg:block hidden w-20" alt="arrow" src="{{ $arrow2sm.RelPermalink }}" />
                <p class="lg:text-[28px] sm:text-2xl text-[22px] font-medium text-green mb-3 lg:px-0 md:px-12 sm:px-8 px-6">{{ $.Param "hero_subheader" | safeHTML }}</p>
                <h1 class="h1 max-w-2xl lg:px-0 md:px-12 sm:px-8 px-6">
                    <div class="lg:inline sm:block inline tracking-tight">
                        <span class="relative inline z-10">{{ $.Param "hero_header_line_1_start" | safeHTML }}</span>
                        <div class="relative justify-center inline-flex items-center sm:px-16 px-5 -ml-5 -mr-5 sm:-ml-16 sm:-mr-16 z-0">
                            <img class="absolute lg:w-56 sm:w-48 w-32 inset-0 sm:ml-8 sm:-mt-2.5 -mt-1" alt="hero text background" src="{{ $heroTextBg.RelPermalink }}" />
                            <span class="relative">{{ $.Param "hero_header_line_1_underlines" | safeHTML }}</span>
                        </div>
                    </div>
                    <div class="relative inline">
                        <span>{{ $.Param "hero_header_line_1_end" | safeHTML }}</span>
                        <span class="relative sm:inline block">{{ $.Param "hero_header_line_2" | safeHTML }}</span>
                    </div>
                </h1>
                <p class="2xl:text-lg text-bse text-blue mt-4 lg:px-0 md:px-12 sm:px-8 px-6">{{ $.Param "hero_text" | safeHTML }}</p>
            </div>
            {{ if .Site.Data.landingpage.category_navbar_visible }}
            <div class="mx-auto relative lg:hidden sm:block hidden -mt-8">
                <div class="flex xl:items-center gap-2 lg:px-0 sm:px-12 py-6 px-5 xl:justify-center overflow-x-auto scrollbar-none">
                    {{ if .Site.Data.landingpage.open_knowledge_visible }}
                    <a href="#open-knowledge-section" class="badge-purple ">Open Knowledge</a>
                    {{end}}
                    {{ if .Site.Data.landingpage.open_events_visible }}
                    <a href="#open-events-section" class="badge-purple ">Open Events</a>
                    {{end}}
                    {{ if .Site.Data.landingpage.open_source_visible }}
                    <a href="#open-source-section" class="badge-purple ">Open Source</a>
                    {{end}}
                    {{ if .Site.Data.landingpage.open_doors_visible }}
                    <a href="#open-doors-section" class="badge-purple ">Open Doors</a>
                    {{end}}
                    {{ if .Site.Data.landingpage.open_data_visible }}
                    <a href="#open-data-section" class="badge-purple ">Open Data</a>
                    {{end}}
                    {{ if .Site.Data.landingpage.open_office_visible }}
                    <a href="#open-office-section" class="badge-purple ">Open Office</a>
                    {{end}}
                    {{ if .Site.Data.landingpage.open_diversity_visible }}
                    <a href="#open-diversity-section" class="badge-purple ">Open Diversity</a>
                    {{end}}
                </div>
            </div>
            {{ end }}
            <div class="2xl:max-w-md max-w-sm w-full shrink-0 relative sm:px-0 px-6">
                <img class="absolute sm:-right-24 md:-right-40 -right-2 sm:bottom-2 -bottom-6 md:w-28 sm:w-24 w-16 lg:hidden" alt="Arrow" src="{{ $mArrow1.RelPermalink }}" />
                <img class="absolute -bottom-12 md:-left-40 sm:-left-24 -left-2 md:w-36 sm:w-28 w-20 lg:hidden" alt="Arrow" src="{{ $mArrow2.RelPermalink }}" />
                <img src="{{ $heroCircle.RelPermalink }}" alt="hero circle" class="w-full">
            </div>
        </div>
    </div>

    {{ if .Site.Data.landingpage.category_navbar_visible }}
    <div class="lg:container mx-auto xl:mt-5 mt-7 relative lg:block hidden">
        <div class="flex items-center justify-center mx-auto gap-2 lg:px-0 sm:px-8 px-5 py-5 xl:justify-center overflow-x-auto scrollbar-none">
            {{ if .Site.Data.landingpage.open_knowledge_visible }}
            <a href="#open-knowledge-section" class="badge-purple">Open Knowledge</a>
            {{end}}
            {{ if .Site.Data.landingpage.open_events_visible }}
            <a href="#open-events-section" class="badge-purple">Open Events</a>
            {{end}}
            {{ if .Site.Data.landingpage.open_source_visible }}
            <a href="#open-source-section" class="badge-purple">Open Source</a>
            {{end}}
            {{ if .Site.Data.landingpage.open_doors_visible }}
            <a href="#open-doors-section" class="badge-purple">Open Doors</a>
            {{end}}
            {{ if .Site.Data.landingpage.open_data_visible }}
            <a href="#open-data-section" class="badge-purple">Open Data</a>
            {{end}}
            {{ if .Site.Data.landingpage.open_office_visible }}
            <a href="#open-office-section" class="badge-purple">Open Office</a>
            {{end}}
            {{ if .Site.Data.landingpage.open_diversity_visible }}
            <a href="#open-diversity-section" class="badge-purple">Open Diversity</a>
            {{end}}
        </div>
    </div>
    {{ end }}

    {{ if .Site.Data.landingpage.open_knowledge_visible }}
    <div id="open-knowledge-section" class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm relative xl:py-28 sm:py-16 py-12">
        <div class="flex lg:flex-row flex-col items-center justify-between 2xl:gap-28 xl:gap-16 sm:gap-12 gap-6">
            <div class="lg:w-1/2 w-full relative">
                <div class="lg:hidden flex items-start gap-6 sm:mb-12 mb-7 relative">
                    <h2 class="h2">
                        Open Knowledge
                    </h2>
                    <img src="{{ $star.RelPermalink }}" alt="Stars" class="absolute sm:w-20 w-14 sm:-top-20 -top-12 sm:right-28 right-0">
                </div>
                <img src="{{ $arrow3.RelPermalink }}" alt="arrow" class=" absolute xl:-bottom-64 -bottom-48 right-0 xl:w-64 w-48 lg:block hidden">
                <img src="{{ $section2.RelPermalink }}" alt="section 2" class=" lg:w-full sm:max-w-md mx-auto">
            </div>
            <div class="lg:w-1/2 w-full relative">
                <img src="{{ $section2bg.RelPermalink }}" alt="section 2 background" class="absolute w-96 lg:top-14 -right-40">
                <img src="{{ $arrow3.RelPermalink }}" alt="arrow" class=" absolute sm:w-32 w-20 right-0 sm:-bottom-36 -bottom-24 lg:hidden">
                <div class="relative">
                    <div class="lg:flex items-start gap-6 hidden">
                        <h2 class="h2">Open <br /> Knowledge</h2>
                        <img src="{{ $star.RelPermalink }}" alt="Star" class="w-16 -mt-8">
                    </div>
                    <p class="lg:mt-5">{{ $.Param "section_open_knowledge_section1_start" | safeHTML }}</p>
                    <div class="flex flex-col gap-3 mt-5">
                        <div class="flex items-center gap-2">
                            <span class="iconify text-lg text-rose" data-icon="teenyicons:tick-circle-solid"></span>
                            {{ $.Param "section_open_knowledge_section1_blog_posts" | safeHTML }}
                        </div>
                        <div class="flex items-center gap-2">
                            <span class="iconify text-lg text-green" data-icon="teenyicons:tick-circle-solid"></span>
                            {{ $.Param "section_open_knowledge_section1_articles" | safeHTML }}
                        </div>
                        <div class="flex items-center gap-2">
                            <span class="iconify text-lg text-sky" data-icon="teenyicons:tick-circle-solid"></span>
                            {{ $.Param "section_open_knowledge_section1_lectures" | safeHTML }}
                        </div>
                    </div>
                    <p class="mt-5">{{ $.Param "section_open_knowledge_section1_end" | safeHTML }}</p>
                    <p class="mt-5">{{ $.Param "section_open_knowledge_section2" | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
    {{end}}

    {{ if .Site.Data.landingpage.open_events_visible }}
    <div id="open-events-section" class="bg-slate">
        <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto sm:py-16 py-12">
            <div class="flex items-center lg:flex-row flex-col-reverse justify-between xl:gap-28 lg:gap-20 gap-5">
                <div class="lg:w-1/2 w-full relative">
                    <img src="{{ $arrow4.RelPermalink }}" alt="Arrow" class=" absolute 2xl:w-52 xl:w-44 lg:w-36 sm:w-40 w-32 2xl:-bottom-72 xl:-bottom-56 lg:-bottom-48 lg:-right-20 lg:left-auto -left-14 sm:-bottom-32 -bottom-24">
                    <div class="">
                        <div class="bg-rose-100 border border-rose lg:inline-block px-6 py-3 rounded-sm relative hidden">
                            <h2 class="h2 text-rose">Open Events</h2>
                            <span class="iconify text-rose text-3xl absolute -right-6 -bottom-6" data-icon="clarity:cursor-arrow-solid"></span>
                        </div>
                        <p class="lg:mt-8">{{ $.Param "section_open_events_section" | safeHTML }}</p>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full flex flex-col items-center justify-center">
                    <div class="bg-rose-100 border border-rose lg:hidden inline-block px-6 py-3 sm:w-auto w-full text-center rounded-sm relative sm:mb-12 mb-7 ">
                        <h2 class="h2 text-rose">Open Events</h2>
                        <span class="iconify text-rose text-3xl absolute -right-6 -bottom-6 sm:block hidden" data-icon="clarity:cursor-arrow-solid"></span>
                        <img src="{{ $click.RelPermalink }}" alt="Click SVG" class="ltext-3xl absolute -right-5 -bottom-6 sm:hidden">
                    </div>
                    <img src="{{ $section3.RelPermalink }}" alt="Section 3" class="lg:w-full sm:max-w-md mx-auto">
                </div>
            </div>
        </div>
    </div>
    {{end}}

    {{ if .Site.Data.landingpage.open_source_visible }}
    <div id="open-source-section" class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto relative xl:py-28 sm:py-16 py-12">
        <div class="flex lg:flex-row flex-col items-center justify-between xl:gap-28 lg:gap-20 gap-5">
            <div class="lg:w-1/2 w-full relative">
                <img src="{{ $arrow5.RelPermalink }}" alt="arrow" class=" absolute left-0 -top-20 lg:block hidden">
                <h2 class="h2 lg:hidden sm:mb-12 mb-7">
                    <div class="relative inline">
                        <img src="{{ $textBg.RelPermalink }}" alt="text background" class="absolute w-full bottom-0 -mr-2">
                        <span class="relative">Open</span>
                    </div>
                    Source
                </h2>
                <img src="{{ $section4.RelPermalink }}" alt="section 4" class="lg:w-full sm:max-w-md mx-auto">
            </div>
            <div class="lg:w-1/2 w-full">
                <div class="">
                    <h2 class="h2 lg:block hidden">
                        <div class="relative inline">
                            <img src="{{ $textBg.RelPermalink }}" alt="text background" class="absolute w-full bottom-0 -mr-2">
                            <span class="relative">Open</span>
                        </div>
                        Source
                    </h2>
                    <p class="lg:mt-6">{{ $.Param "section_open_source_section1" | safeHTML }}</p>
                    <p class="mt-4">{{ $.Param "section_open_source_section2" | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
    {{end}}

    {{ if .Site.Data.landingpage.open_doors_visible }}
    <!-- Cal element-click embed code begins -->
    <script type="text/javascript">
    (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === "string" ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", {origin:"https://app.cal.com"});
    
    // link: add `data-cal-link="open-elements/15min"` attribute to the element you want to open Cal on click
    Cal("ui", {"styles":{"branding":{"brandColor":"#000000"}},"hideEventTypeDetails":false});
    </script>
    <!-- Cal element-click embed code ends -->
    <div id="open-doors-section" class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto relative xl:py-28 sm:py-16 py-12">
        <div class="">
            <div class="flex lg:items-start lg:flex-row flex-col lg:justify-start justify-center items-center gap-10">
                <div class="bg-purple-100 border border-purple inline-block pl-6 pr-6 lg:pr-11 py-3 rounded-sm relative sm:w-auto w-full text-center">
                    <h2 class="h2 text-purple">Open Doors</h2>
                    <span class="iconify text-purple text-3xl absolute -right-6 -bottom-6 sm:block hidden"
                        data-icon="clarity:cursor-arrow-solid"></span>
                        <img src="{{ $click2.RelPermalink }}" alt="click svg" class="ltext-3xl absolute -right-5 -bottom-6 sm:hidden">
                </div>

                <img src="{{ $openDoor.RelPermalink }}" alt="Open door image" class="sm:max-w-md lg:hidden">
            </div>

            <div class="flex xl:flex-row flex-col items-end w-full mx-auto">
                <div class="relative lg:-mt-16 flex  flex-col lg:gap-5 sm:gap-24 gap-11 2xl:max-w-3xl xl:max-w-[800px] mx-auto shrink-0 w-full ml-0">
                    <img src="{{ $connectedLine.RelPermalink }}" alt="lines" class="absolute inset-0  lg:block hidden w-full max-w-[700px] top-20 ml-10">
                        <img src="{{ $connectedLineVertical.RelPermalink }}" alt="vertical lines" class="absolute inset-0 lg:hidden max-w-[450px] sm:ml-2 -ml-3 w-full mx-auto mt-20">
                    <div class="relative flex justify-end lg:order-1 order-2 lg:mx-0 mx-auto lg:mt-0 mt-8">
                        <div
                            class=" bg-sky-100 rounded-[28px] border-2 border-dashed border-sky p-6 lg:w-[380px] sm:w-96 w-full h-56 flex items-center justify-center text-center">
                            <p>{{ $.Param "section_open_doors_section2" | safeHTML }}</p>
                        </div>
                    </div>
                    <div class="flex relative lg:mt-[-12%] lg:order-2 order-1 lg:ml-0 mx-auto mt-12">
                        <div class=" bg-sky-100 rounded-[28px] border-2 border-dashed border-sky p-6 xl:w-60 lg:w-56 sm:w-96 w-full h-32 flex items-center justify-center text-center">
                            <p>{{ $.Param "section_open_doors_section1" | safeHTML }}</p>
                        </div>
                    </div>
                    
                    <div class="flex  relative lg:ml-[25%] lg:mt-20 mt-4 lg:order-3 order-3 mx-auto">
                        <div
                            class=" bg-sky-100 rounded-[28px] border-2 border-dashed border-sky p-6 sm:w-96 w-full flex flex-col items-center justify-center text-center">
                            <p>{{ $.Param "section_open_doors_section3" | safeHTML }}</p>

                            <a data-cal-link="open-elements/15min" class="flex items-center justify-center gap-3 capitalize text-white font-semibold text-base text-center bg-purple rounded-full w-full mt-4 sm:px-6 px-4 py-3 hover:bg-purple-700 transition-all ease-in-out duration-150 hover:shadow-3 active:shadow-none active:bg-purple">
                                <img src="{{ $callIcon.RelPermalink }}" alt="call icon" />
                                {{ $.Param "section_open_doors_schedule_appointment" | safeHTML }}
                            </a>
                        </div>
                        
                    </div>
                </div>
                <img src="{{ $openDoor.RelPermalink }}" alt="open door image" class="max-w-md xl:absolute right-5 2xl:bottom-14  mx-auto lg:block xl:mt-0 mt-16 hidden">
            </div>
        </div>
    </div>
    {{end}}

    {{ if .Site.Data.landingpage.open_data_visible }}
    <div id="open-data-section" class="bg-slate">
        <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto xl:py-28 sm:py-16 py-12 relative">
            <div class="flex lg:flex-col flex-col-reverse">
                <img src="{{ $thunder.RelPermalink }}" alt="thunder" class="absolute sm:w-7 w-4 sm:right-1/3 right-5 sm:top-8 top-12">
                <img src="{{ $randomStar.RelPermalink }}" alt="randomStar" class="absolute sm:w-8 w-6 lg:left-32 lg:top-24 sm:left-16 left-4 sm:top-32 top-28">
                <div class="flex flex-col items-center justify-center relative">
                    <img src="{{ $line1.RelPermalink }}" alt="Lines" class="absolute lg:w-24 w-24 lg:-left-24 lg:right-auto lg:bottom-auto -right-5 -bottom-8 ">
                    <img src="{{ $line2.RelPermalink }}" alt="lines" class="absolute w-24 2xl:-right-24 -right-16 top-20 lg:block hidden">
                    <h2 class="h2 text-center lg:block hidden">
                        <span class="inline-block">Open</span>
                        <div class="relative inline pr-20">
                            <img src="{{ $textBg2.RelPermalink }}" alt="text background" class="absolute w-full -bottom-2 right-0 ">
                            <span class="inline-block">Data</span>
                        </div>
                    </h2>
                    <p class="mt-8 lg:text-center max-w-5xl mx-auto w-full">{{ $.Param "section_open_data_section" | safeHTML }}</p>
                </div>
                <div class="-mr-16 -ml-10 sm:ml-auto sm:mr-auto sm:w-full">
                    <div class="flex items-center justify-center -ml-4">
                        <h2 class="h2 text-center lg:hidden sm:mb-12 mb-7">
                            <span class="inline-block">Open</span>
                            <div class="relative inline sm:pr-20 pr-4">
                                <img src="{{ $textBg2.RelPermalink }}" alt="text background" class="absolute w-full -bottom-2 right-0 ">
                                <span class="inline-block">Data</span>
                            </div>
                        </h2>
                    </div>
                    <img src="{{ $section5.RelPermalink }}" alt="section 5" class="w-full mt-14 mb-8 lg:block hidden">
                    <img src="{{ $section5m2.RelPermalink }}" alt="section 5" class="max-w-lg sm:pl-5 mx-auto w-full lg:hidden  ">
                </div>
            </div>
        </div>
    </div>
    {{end}}

    {{ if .Site.Data.landingpage.open_office_visible }}
    <div id="open-office-section" class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto relative xl:py-28 sm:py-16 py-12">
        <div class="flex lg:flex-row flex-col items-center justify-between xl:gap-28 lg:gap-20 gap-20">
            <div class="lg:w-1/2 w-full">
                <div class="relative lg:mb-16 sm:mb-14 mb-10">
                    <img src="{{ $arrow6.RelPermalink }}" alt="arrow" class="absolute -top-16  -right-5 lg:block hidden">
                    <h2 class="h2">Open <span class="text-purple">Office</span></h2>
                </div>
                <img src="{{ $section6.RelPermalink }}" alt="Section 6" class="lg:w-full sm:max-w-md mx-auto">
            </div>
            <div class="lg:w-1/2 w-full">
                <div class="">
                    <div class="flex xl:flex-row flex-col xl:items-center lg:gap-6 sm:gap-5 gap-3 relative">
                        <img src="{{ $arrow6.RelPermalink }}" alt="arrow" class="absolute sm:-top-20 -top-16 sm:w-72 w-48 -left-1/3 lg:hidden">
                        <img src="{{ $line3.RelPermalink }}" alt="line" class="absolute lg:-bottom-10 sm:-bottom-8 -bottom-5 w-full">
                        <h2 class="text-purple lg:text-[100px] sm:text-7xl text-[48px] font-bold">100%</h2>
                        <p class="leading-6 xl:mt-0 sm:mt-4 mt-2">{{ $.Param "section_open_office_section1" | safeHTML }}</p>
                    </div>
                    <p class="lg:mt-20 sm:mt-16 mt-8">{{ $.Param "section_open_office_section2" | safeHTML }}</p>
                    <p class="xl:text-[32px] text-xl font-bold xl:leading-10 leading-8 text-purple sm:mt-7 mt-5">{{ $.Param "section_open_office_section3" | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
    {{end}}

    {{ if .Site.Data.landingpage.open_diversity_visible }}
    <div id="open-diversity-section" class="bg-slate">
        <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto xl:py-28 sm:py-16 py-12">
            <div class="flex items-center lg:flex-row flex-col-reverse justify-between xl:gap-28 lg:gap-20 gap-5">
                <div class="lg:w-1/2">
                    
                    <div class="">
                        <div class="bg-rose-100 border border-rose lg:inline-block xl:px-6 px-5 py-3 rounded-sm relative hidden">
                            <h2 class="h2 text-rose shrink-0">Open Diversity</h2>
                            <span class="iconify text-rose text-3xl absolute -right-6 -bottom-6" data-icon="clarity:cursor-arrow-solid"></span>
                        </div>
                        <div class="mt-8 space-y-5">
                            <div class="flex items-start gap-4">
                                <div class="flex items-center justify-center bg-rose-100 shrink-0 rounded-full p-1">
                                    <div class=" border border-dashed rounded-full border-rose w-14 h-14 flex items-center justify-center">
                                        <img src="{{ $bullet1.RelPermalink }}" alt="bullet point" class="w-8 h-8">
                                    </div>
                                </div>
                               
                                <p>{{ $.Param "section_open_diversity_section1" | safeHTML }}</p>
                            </div>
                            <div class="flex items-start gap-4">
                                <div class="flex items-center justify-center bg-rose-100 shrink-0 rounded-full p-1">
                                    <div class=" border border-dashed rounded-full border-rose w-14 h-14 flex items-center justify-center">
                                        <img src="{{ $bullet2.RelPermalink }}" alt="bullet point" class="w-8 h-8">
                                    </div>
                                </div>
                                <p>{{ $.Param "section_open_diversity_section2" | safeHTML }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full relative">
                    <img src="{{ $line4.RelPermalink }}" alt="line" class=" absolute xl:top-0 xl:-left-12 lg:-top-12 top-24 sm:w-24 w-20">
                    <div class="bg-rose-100 border border-rose lg:hidden inline-block px-6 py-3 sm:w-auto w-full text-center rounded-sm relative sm:mb-12 mb-7 ">
                        <h2 class="h2 text-rose">Open Diversity</h2>
                        <span class="iconify text-rose text-3xl absolute -right-6 -bottom-6 sm:block hidden" data-icon="clarity:cursor-arrow-solid"></span>
                        <img src="{{ $click.RelPermalink }}" alt="click" class="ltext-3xl absolute -right-5 -bottom-6 sm:hidden">
                    </div>
                    <img src="{{ $openDiversity.RelPermalink }}" alt="Open Diversity" class="lg:w-full sm:max-w-md mx-auto">
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{ end }}