{{ define "main" }}
{{ $owl := resources.Get "/images/owl.png" }}
<div class="py-16 lg:py-36 md:py-28 sm:py-24 bg-white">
    <div class="container">

        <div class="flex flex-col gap-12">

            <div class="flex flex-col gap-8 w-auto">

                <div
                    class="w-auto lg:ml-[19%] text-right place-self-end bg-green-100 xl:rounded-[40px] rounded-3xl border border-green border-dashed px-8 py-4 text-blue text-base font-normal">
                    How can I deploy a smart contract with Java?
                </div>
                <div class="flex lg:flex-row flex-col lg:items-start items-center gap-5 lg:mr-[5%]">
                    <img class="sm:w-20 sm:h-20 w-16 h-16 shrink-0" src="{{ $owl.RelPermalink }}" alt="Owl" />

                    <div
                        class="relative min-w-0 max-w-full bg-purple-200 rounded-3xl border border-purple border-dashed sm:px-8 sm:py-8 px-4 py-4 text-blue text-base font-normal">
                        <div
                            class="w-5 h-5 shrink-0 skew-x-[16deg] border-t-0 border-l-0 lg:rotate-[143deg] rotate-[-126deg] absolute lg:-left-[11px] lg:top-7 inset-x-1/2 -ml-2.5 lg:ml-0 -top-3 bg-purple-200 border border-purple-700 border-dashed">
                        </div>
                        <div
                            class="text-blue max-w-full prose-pre:bg-[#010027]/80 prose-pre:my-0 prose-pre:rounded-none prose prose-h4:text-2xl prose-h4:mb-6 prose-h5:text-lg prose-h5:mt-4 prose-p:text-base prose-p:mt-3 prose-p:leading-7 prose-a:text-purple-700 prose-a:font-bold prose-a:no-underline prose-a:block prose-li:marker:text-purple-700 prose-ul:-ml-2.5 prose-headings:font-bold">

                            <h4>
                                Ac laoreet cursus arcu enim ante donec amet et quam at varius
                            </h4>

                            <h5>
                                Mauris pulvinar sed tempor adipiscing interdum dolor ac in eu
                            </h5>

                            <p>
                                Quam non est ipsum quis nulla blandit. Ut facilisis non accumsan leo accumsan. Aliquet
                                orci
                                amet tempor sit dignissim. Dignissim tortor orci pulvinar praesent posuere nunc
                                parturient
                                augue diam. Sapien dui sit vel tincidunt pharetra sem. Urna pretium bibendum mi pulvinar
                                ut
                                fames.
                                Ut id eu sed mi accumsan. Quis risus adipiscing odio et sed. Ac laoreet cursus arcu enim
                                ante. Donec amet et quam at varius. Purus purus condimentum gravida gravida ultricies
                                neque
                                vestibulum. Ut mi egestas mattis lacus amet.
                            </p>

                            <a href="#">
                                https://uam non est ipsum quis nulla blandit
                            </a>
                            <a href="#">
                                https://uam non est ipsum quis nulla blandit
                            </a>

                            <h5>
                                Sed et arcu eros dui. Erat egestas mattis adipiscing tellus dictumst turpis
                            </h5>
                            <p>
                                Quam non est ipsum quis nulla blandit. Ut facilisis non accumsan leo accumsan. Aliquet
                                orci
                                amet tempor sit dignissim. Dignissim tortor orci pulvinar praesent posuere nunc
                                parturient
                                augue diam. Sapien dui sit vel tincidunt pharetra sem. Urna pretium bibendum mi pulvinar
                                ut
                                fames.
                            </p>

                            <ul>
                                <li>
                                    tortor orci pulvinar praesent posuere nunc parturient
                                </li>
                                <li>
                                    tortor orci pulvinar praesent posuere nunc parturient
                                </li>
                                <li>
                                    tortor orci pulvinar praesent posuere nunc parturient
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>




                <div
                    class="w-auto lg:ml-[19%] place-self-end text-right bg-green-100 xl:rounded-[40px] rounded-3xl border border-green border-dashed px-8 py-4 text-blue text-base font-normal">
                    Quis sed consectetur est duis donec mauris. In neque purus magna lorem. Scelerisque massa sit sem
                    nunc. Faucibus est dictum amet non proin donec habitant. Urna tortor habitant malesuada odio
                    tincidunt viverra.
                </div>

                <div class="flex lg:flex-row flex-col lg:items-start items-center gap-5 lg:mr-[5%]">
                    <img class="sm:w-20 sm:h-20 w-16 h-16 shrink-0" src="{{ $owl.RelPermalink }}" alt="Owl" />

                    <div
                        class="relative min-w-0 max-w-full bg-purple-200 rounded-3xl border border-purple border-dashed sm:px-8 sm:py-8 px-4 py-4 text-blue text-base font-normal">
                        <div
                            class="w-5 h-5 shrink-0 skew-x-[16deg] border-t-0 border-l-0 lg:rotate-[143deg] rotate-[-126deg] absolute lg:-left-[11px] lg:top-7 inset-x-1/2 -ml-2.5 lg:ml-0 -top-3 bg-purple-200 border border-purple-700 border-dashed">
                        </div>
                        <div
                            class="text-blue max-w-full prose-pre:bg-[#010027]/80 prose-pre:my-0 prose-pre:rounded-none prose prose-h4:text-2xl prose-h4:mb-6 prose-h5:text-lg prose-h5:mt-4 prose-p:text-base prose-p:mt-3 prose-p:leading-7 prose-a:text-purple-700 prose-a:font-bold prose-a:no-underline prose-a:block prose-li:marker:text-purple-700 prose-ul:-ml-2.5 prose-headings:font-bold">

                            <h4>
                                Ac laoreet cursus arcu enim ante donec amet et quam at varius
                            </h4>

                            <h5>
                                Mauris pulvinar sed tempor adipiscing interdum dolor ac in eu
                            </h5>

                            <p>
                                Quam non est ipsum quis nulla blandit. Ut facilisis non accumsan leo accumsan. Aliquet
                                orci
                                amet tempor sit dignissim. Dignissim tortor orci pulvinar praesent posuere nunc
                                parturient
                                augue diam. Sapien dui sit vel tincidunt pharetra sem. Urna pretium bibendum mi pulvinar
                                ut
                                fames.
                                Ut id eu sed mi accumsan. Quis risus adipiscing odio et sed. Ac laoreet cursus arcu enim
                                ante. Donec amet et quam at varius. Purus purus condimentum gravida gravida ultricies
                                neque
                                vestibulum. Ut mi egestas mattis lacus amet.
                            </p>


                            <div class="rounded-xl overflow-hidden my-7">
                                <div class="bg-blue px-5 py-3 flex items-center justify-between">
                                    <button type="button"
                                        class="text-purple-100 hover:text-purple-700 transition-colors ease-in-out duration-150">
                                        <span class="w-6 h-6 shrink-0 iconify  -ml-1"
                                            data-icon="mingcute:code-line"></span>
                                    </button>
                                    <button type="button"
                                        class="text-purple-100 sm:text-lg text-base font-semibold flex items-center gap-2 hover:text-purple-700 transition-colors ease-in-out duration-150">
                                        <span class="w-5 h-5 shrink-0 iconify  -ml-1" data-icon="fa-solid:copy"></span>
                                        <span>Сopy code</span>
                                    </button>
                                </div>

                                <div class="overflow-hidden">
                                    <pre class="sm:px-8 sm:py-6 px-4 py-3 sm:text-lg"><code class=""><span class="token block"><span class="token doctype punctuation">&lt;!</span><span class="token doctype doctype-tag">doctype</span><span class="token doctype"> </span><span class="token doctype name">html</span><span class="token doctype punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain"></span><span class="token tag punctuation">&lt;</span><span class="token tag">html</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain"></span><span class="token tag punctuation">&lt;</span><span class="token tag">head</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain">  </span><span class="token tag punctuation">&lt;</span><span class="token tag">meta</span><span class="token tag"> </span><span class="token tag attr-name">charset</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span class="token tag attr-value">UTF-8</span><span class="token tag attr-value punctuation">"</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain">  </span><span class="token tag punctuation">&lt;</span><span class="token tag">meta</span><span class="token tag"> </span><span class="token tag attr-name">name</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span class="token tag attr-value">viewport</span><span class="token tag attr-value punctuation">"</span><span class="token tag"> </span><span class="token tag attr-name">content</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span class="token tag attr-value">width=device-width, initial-scale=1.0</span><span class="token tag attr-value punctuation">"</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain">  </span><span class="token tag punctuation">&lt;</span><span class="token tag">link</span><span class="token tag"> </span><span class="token tag attr-name">href</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span class="token tag attr-value">/dist/main.css</span><span class="token tag attr-value punctuation">"</span><span class="token tag"> </span><span class="token tag attr-name">rel</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span class="token tag attr-value">stylesheet</span><span class="token tag attr-value punctuation">"</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain"></span><span class="token tag punctuation">&lt;/</span><span class="token tag">head</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain"></span><span class="token tag punctuation">&lt;</span><span class="token tag">body</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class=""><span class="token plain">  </span><span class="token tag punctuation">&lt;</span><span class="token tag">h1</span><span class="token tag"> </span><span class="token tag attr-name">class</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span class="token tag attr-value">text-3xl font-bold underline</span><span class="token tag attr-value punctuation">"</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="">    Hello world!
</span><span class=""><span class="token plain">  </span><span class="token tag punctuation">&lt;/</span><span class="token tag">h1</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain"></span><span class="token tag punctuation">&lt;/</span><span class="token tag">body</span><span class="token tag punctuation">&gt;</span><span class="token plain"></span>
</span><span class="token block"><span class="token plain"></span><span class="token tag punctuation">&lt;/</span><span class="token tag">html</span><span class="token tag punctuation">&gt;</span>
</span></code></pre>
                                </div>

                            </div>

                            <p>
                                Quam non est ipsum quis nulla blandit. Ut facilisis non accumsan leo accumsan. Aliquet
                                orci
                                amet tempor sit dignissim. Dignissim tortor orci pulvinar praesent posuere nunc
                                parturient
                                augue diam. Sapien dui sit vel tincidunt pharetra sem. Urna pretium bibendum mi pulvinar
                                ut
                                fames.
                            </p>
                        </div>
                    </div>
                </div>


            </div>

            <button type="button"
                class="text-blue text-lg font-semibold flex items-center justify-center gap-2 hover:text-green transition-colors ease-in-out duration-150">
                <span class="w-10 h-10 shrink-0 iconify -ml-1" data-icon="heroicons-solid:stop"></span>
                <span>Stop generating</span>
            </button>

            <div>
                <button
                    class="text-blue text-lg flex items-center font-semibold gap-2 hover:text-green ml-2 mb-3 transition-colors ease-in-out duration-150">
                    <span class="w-5 h-5 shrink-0 iconify -ml-1" data-icon="eva:sync-fill"></span>
                    Clear
                </button>
                <div class="relative rounded-md shadow-sm flex sm:gap-0 gap-2 items-center">
                    <div
                        class="flex  absolute left-2.5 pointer-events-none w-12 h-12 shrink-0 items-center justify-center rounded-full">
                        <span class="w-8 h-8 iconify text-blue/30 -mr-1" data-icon="iconamoon:search-light"></span>
                    </div>
                    <div class="sm:absolute right-2.5 sm:flex hidden items-center gap-5 sm:w-auto w-full">

                        <button
                            class=" shadow-4 bg-green sm:w-12 w-full h-12 shrink-0 flex items-center justify-center rounded-full">
                            <span class="sm:hidden text-base text-white font-bold mr-2">Search</Span>
                            <span class="w-8 h-8 -rotate-45 iconify text-white -mr-1 -mt-1"
                                data-icon="lets-icons:send-hor-fill"></span>
                        </button>

                    </div>
                    <input type="text" x-model="textLength" x-trap="focus" x-on:blur.leave="focus = false"
                        class="block w-full rounded-full sm:h-16 h-14 border-2 pl-16 sm:pr-36 pr-5 border-green/40 focus:border-green shadow-4 sm:text-lg text-base text-blue placeholder:text-blue placeholder:font-medium placeholder:text-opacity-60 focus:outline-none transition-colors ease-in-out duration-150"
                        placeholder="Ask me something">
                </div>
                <p class="text-center text-sm font-medium mt-3">Quam non est ipsum quis nulla blandit. Ut facilisis
                    non
                    accumsan leo accumsan.
                </p>
            </div>
        </div>
    </div>
</div>


{{ end }}