{{ define "main" }}
{{ $underline1 := resources.Get "/illustrations/underline-1.svg" }}
{{ $articleImg := resources.Get "/illustrations/article-img.png" }}
{{ $articleImgMb := resources.Get "/illustrations/article-img-mb.svg" }}
{{ $textBg3 := resources.Get "/illustrations/text-bg-3.svg" }}
<div class=" bg-slate">
  <div class="container lg:max-w-5xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto sm:pt-28 pt-16">
    <div class="">
      <div class="flex items-center justify-center">
        <div class="relative -ml-8">
          <h2 class="h2 text-center">
            Title of the article
          </h2>
          <img src="{{ $underline1.RelPermalink }}" alt="{{ i18n "altTexts.underline" }}" class=" absolute -bottom-4 -right-8">
        </div>
      </div>

      <p class="mt-10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla commodo velit sodales, accumsan risus in, tempor
        quam. Maecenas orci odio, accumsan sed porttitor vel, rutrum non ex. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Maecenas eget eros in velit consequat pretium nec non
        risus. Quisque lobortis accumsan diam, in fermentum velit semper eget. Sed ultrices orci at ipsum condimentum,
        non accumsan tellus mattis. Duis porttitor, ligula sed tincidunt pharetra, ex augue auctor arcu, nec
        sollicitudin magna nibh efficitur sapien. Sed finibus feugiat dignissim. Etiam mollis sem in diam fermentum, sit
        amet convallis metus ultrices. In interdum blandit nulla.
      </p>
    </div>
  </div>
  <div class="container px-0">
    <img src="{{ $articleImg.RelPermalink }}" alt="" class="w-full sm:block hidden py-12">
    <img src="{{ $articleImgMb.RelPermalink }}" alt="" class="w-full sm:hidden py-8">
  </div>
  <div class="container lg:max-w-5xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto pb-20">
    <p>
      Aenean et tortor nulla. Nullam eu risus eros. Pellentesque vestibuÂlum, metus id tempus congue, orci quam bibendum
      ligula, ultrices tristique nisl lorem sed nibh. Orci varius natoque penatibus et magnis dis parturient montes,
      nascetur ridiculus mus. Proin id magna libero. Proin sed luctus metus. Pellentesque eu egestas augue, et tristique
      tortor. Nulla facilisi. Sed varius tempor lorem. Sed lobortis ligula ac metus aliquam, sit amet fringilla mauris
      accumsan. Maecenas sit amet tellus sit amet massa accumsan sollicitudin eget quis turpis. Maecenas fringilla justo
      et posuere porta. Cras nec nibh pharetra, interdum quam at, pellentesque velit. Pellentesque ullamcorper nibh ut
      elementum fringilla.
    </p>
  </div>

  <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto sm:block hidden">
    <div class="flex items-center justify-center">
      <h2 class="h2 max-w-2xl">
        <span class="relative inline z-10">Related</span>
        <div class="relative justify-center inline-flex items-center px-20 -ml-20 -mr-20 z-0">
          <img class="absolute w-56 inset-0 ml-12 -mt-[30px]" src="{{ $textBg3.RelPermalink }}" alt="text background" />
          <span class="relative">videos</span>
        </div>
      </h2>
    </div>

    <div class="swiper gallerySwiper mt-10 mb-16 overflow-hidden pt-5">
      <div class="swiper-wrapper flex flex-wrap">
        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1573166918385-7d4308892300?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1535378917042-10a22c95931a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1148&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=911&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1447433865958-f402f562b843?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1597635201981-308a4bfd0e55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1446776858070-70c3d5ed6758?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1481697943534-ea55b5ce970b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1630&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 hidden group-hover:flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

      </div>

      <div class="flex justify-center gap-7 py-10">
        <div class="bg-purple rounded-full flex items-center justify-center w-14 h-14 prev aria-disabled:bg-purple-100">
          <span class="iconify text-4xl text-white -ml-1" data-icon="iconoir:nav-arrow-left"></span>
        </div>
        <div class="bg-purple rounded-full flex items-center justify-center w-14 h-14 next aria-disabled:bg-purple-100" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-10c4df379ea8c2c9d" aria-disabled="true">
          <span class="iconify text-4xl text-white -mr-1" data-icon="iconoir:nav-arrow-right"></span>
        </div>
      </div>
    </div>


  </div>
  <div class="container lg:max-w-7xl md:max-w-2xl sm:max-w-xl sm:w-full max-w-sm mx-auto sm:hidden">
    <div class="flex items-center justify-center">
      <h2 class="h2 max-w-2xl">
        <span class="relative inline z-10">Related</span>
        <div class="relative justify-center inline-flex items-center px-6 -ml-6 -mr-6 z-0">
          <img class="absolute w-56 inset-0 -mt-[10px]" src="{{ $textBg3.RelPermalink }}" alt="Text background" />
          <span class="relative">videos</span>
        </div>
      </h2>
    </div>

    <div class="mb-20 mt-8">
      <div class="flex flex-col flex-wrap">
        <div class="swiper-slide w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1573166918385-7d4308892300?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1535378917042-10a22c95931a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1148&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1120&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>

        <div class="w-full inline drop-shadow-card group shrink-0 even:mt-5 odd:mt-5">
          <div class=" rounded-[28px] overflow-hidden hover:-translate-y-6 transition-all ease-in-out duration-200">
            <div class="relative">
              <div class="aspect-w-16 aspect-h-9 ">
                <img src="https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="..." class="w-full h-full object-center object-cover" />
              </div>
              <button class="bg-green rounded-full w-14 h-14 items-center justify-center absolute right-5 top-4 flex">
                <span class="iconify text-3xl text-white" data-icon="fluent:play-24-filled"></span>
              </button>
            </div>
            <div class="bg-white px-5 pt-4 pb-5">
              <h2 class="h4-card mb-2">
                Title of the videos
              </h2>
              <p class="text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit bibendum ligula, ultrices
              </p>
            </div>
          </div>
        </div>
      </div>

      <button class=" mt-12 text-center w-full bg-rose-100 rounded-full px-6 py-3 border border-rose text-rose text-lg font-bold focus:outline-none transition-colors ease-in-out duration-200 active:bg-rose active:text-rose-100">
        Show More
      </button>
    </div>


  </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 3,
      grid: {
        rows: 2,
      },
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    var swiper = new Swiper(".gallerySwiper", {
        slidesPerView: 1,
        grid: {
              rows: 2,
            },
        spaceBetween: 24,
        navigation: {
          nextEl: ".next",
          prevEl: ".prev",
        },
        breakpoints: {
          640: {

            slidesPerView: 2,
            spaceBetween: 24,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 24,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 24,
          },
          1280: {
            slidesPerView: 3,
            spaceBetween: 24,
          },
        },


    });
  </script>
{{ end }}