<div class="grid lg:grid-cols-3 lg:max-w-full max-w-sm mx-auto lg:gap-6 gap-9 lg:mt-6 mt-4">
    <div class="flex flex-col items-center gap-8 justify-between border border-yellow-200/45 rounded-[30px] pb-5 pt-7 px-6 shadow-2xl shadow-yellow-200/20">
        <div class="flex flex-col gap-3 items-center">
            <div class="bg-yellow-50 inline-block rounded-full px-5 py-2 text-yellow-200 text-center xl:text-lg lg:text-base text-lg font-bold">
                {{ i18n "support_care.subscription.basic.name" | safeHTML }}
            </div>
            <img src="/illustrations/support-care-subscription/basic.svg" class="size-48 object-contain mt-2" alt="{{ i18n " altTexts.plant1" }}" />
            <ul class="flex flex-col mt-2 text-sm text-blue no-list-style-type">
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/yellow-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">{{ i18n "support_care.subscription.basic.bulletpoint1" | safeHTML }}</p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/yellow-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">{{ i18n "support_care.subscription.basic.bulletpoint2" | safeHTML }}</p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/yellow-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">{{ i18n "support_care.subscription.basic.bulletpoint3" | safeHTML }}</p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/yellow-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">{{ i18n "support_care.subscription.basic.bulletpoint4" | safeHTML }}</p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/yellow-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">{{ i18n "support_care.subscription.basic.bulletpoint5" | safeHTML }}</p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/yellow-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">{{ i18n "support_care.subscription.basic.bulletpoint6" | safeHTML }}</p>
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" onclick="window.location.href='mailto:info@open-elements.com'" class="text-lg w-full font-bold text-white text-center bg-yellow-300 rounded-full px-4 py-2 hover:bg-yellow-400 transition-all ease-in-out duration-150 active:shadow-none hover:shadow-6">Kontaktieren Sie uns</button>
    </div>

    <div class="flex flex-col items-center gap-8 justify-between border border-green/45 rounded-[30px] pb-5 pt-7 px-6 shadow-2xl shadow-green/20">
        <div class="flex flex-col gap-3 items-center">
            <div class="bg-green-50 inline-block rounded-full px-5 py-2 text-green text-center xl:text-lg lg:text-base text-lg font-bold">
                Standard Subscription
            </div>
            <img src="/illustrations/support-care-subscription/standard.svg" class="size-48 object-contain mt-2" alt="{{ i18n " altTexts.plant1" }}" />
            <ul class="flex flex-col mt-2 text-sm text-blue no-list-style-type">
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">8 Stunden Support pro Monat inklusive<sup>1</sup></p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Reaktionszeit 1 Werktag<sup>2</sup></p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Supportanfrage per Helpdesk in Deutsch und Englisch<sup>3</sup></p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            15% Rabatt auf jede weitere Support-Stunde
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Quartals-Webinar direkt mit den Expert:innen<sup>4,5</sup>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            monatlicher Newsletter
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            10% Trainingsrabatt
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/green-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Individueller monatlicher Call mit Expert:innen<sup>4,5</sup>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" onclick="window.location.href='mailto:info@open-elements.com'" class="text-lg w-full font-bold text-white text-center bg-green rounded-full px-4 py-2 hover:bg-green-300 transition-all ease-in-out duration-150 hover:shadow-7 active:shadow-none">Kontaktieren Sie uns</button>
    </div>

    <div class="flex flex-col items-center gap-8 justify-between border border-sky/45 rounded-[30px] pb-5 pt-7 px-6 shadow-2xl shadow-sky/20">
        <div class="flex flex-col gap-3 items-center">
            <div class="bg-sky-100 inline-block rounded-full px-5 py-2 text-sky text-center xl:text-lg lg:text-base text-lg font-bold">
                Premium Subscription
            </div>
            <img src="/illustrations/support-care-subscription/premium.svg" class="size-48 object-contain mt-2" alt="{{ i18n " altTexts.plant1" }}" />
            <ul class="flex flex-col mt-2 text-sm text-blue no-list-style-type">
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">8 Stunden Support pro Monat inklusive<sup>1</sup></p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Reaktionszeit <b>1 Stunde</b>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Supportanfrage per Helpdesk und <b>Hotline</b> in Deutsch und Englisch<sup>3</sup>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            15% Rabatt auf jede weitere Support-Stunde
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Quartals-Webinar direkt mit den Expert:innen<sup>4,5</sup>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            monatlicher Newsletter
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            10% Trainingsrabatt
                        </p>
                    </div>
                </li>
                <li>
                    <div class="flex items-start gap-1.5">
                        <img src="/illustrations/general/blue-checkmark.svg" class="size-4 shrink-0 mt-0.5" alt="{{ i18n " altTexts.plant1" }}" />
                        <p class="text-sm text-blue m-0 pt-0">
                            Individueller monatlicher Call mit Expert:innen<sup>4,5</sup>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" onclick="window.location.href='mailto:info@open-elements.com'" class="text-lg w-full font-bold text-white text-center bg-sky rounded-full px-4 py-2 hover:bg-sky-200 transition-all ease-in-out duration-150 hover:shadow-8 active:shadow-none">Kontaktieren Sie uns</button>
    </div>
</div>